<div class="row">
    <div class="col-xl-8 col-12">
        <div class="mt-n4" id="vc_meeting_div">
        </div>
    </div>
    <div class="col-xl-4 col-12" *ngIf="sessionObj">
        <div class="mt-md-n2 mb-3">
            <h4><i class="icon-timer"></i>{{hours}}:{{minutes}}:{{seconds}} <span class="badge badge-success float-right">{{sessionObj.sessionType | titlecase}}</span></h4>
        </div>
        <h5 class="text-blue mb-2">{{sessionObj.sessionSubject}}</h5>
        <p class="text-black-50">{{sessionObj.loanDescription}}
        </p>

        <div *ngIf="showExtendSessionButton && showExtendSessionButtonForRole">
            <hr class="my-3">
            <p class="font-weight-bold text-cm-blue">One Hour consultation session is not enought for you? No worries you can extend Live consultation session for next one hour by paying just ${{((sessionObj.loanAmount || 0)/2)}}.</p>
            <button class="btn btn-success border-0" (click)="initiatePayment(sessionObj, roomName)">Extend My Session</button>
            <div class="row" [ngClass]="{ 'd-none': !userInitiatedForPayment }">
                <app-payment></app-payment>
            </div>
        </div>
        <app-messages></app-messages>
    </div>
</div>