<div class="row mb-3">
  <div class="col-xl-6">
    <h4 class="text-primary">Blogs</h4>
  </div>
  <div class="col-xl-6">
    <button class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#blogModal">New</button>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <!--<th>Status</th>-->
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj2show of allBlogsData">
      <td>{{obj2show.title}}</td>
      <td>{{obj2show.description}}</td>
      <!--<td class="text-capitalize text-cap">
          <span class="badge" [ngClass]="{'badge-success': (obj2show.status==SessionStatus.Approved || obj2show.status==SessionStatus.Accepted || obj2show.status==SessionStatus.Active || obj2show.status==SessionStatus.Completed || obj2show.status==SessionStatus.OngoingInitiated  || obj2show.status==SessionStatus.OngoingAccepted  || obj2show.status==SessionStatus.Ongoing), 'badge-danger': (obj2show.status==SessionStatus.Rejected || obj2show.status==SessionStatus.RejectedOngoing || obj2show.status==SessionStatus.Suspended), 'badge-info': ( obj2show.status==null || obj2show.status=='' || obj2show.status==SessionStatus.Pending)}">
              {{obj2show.status}}
          </span>
      </td>
    -->
      <td>
          <label title="Preview"
              (click)="mediaPreviewModel(obj2show.blogsDocument, 'image')">
              <i class="icon-eye m-2 text-success"></i>
          </label>
      </td>
    </tr>

  </tbody>
</table>
<div class="modal fade" id="blogModal">
  <div class="modal-dialog modal-dialog-centered  modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-primary">New Blog</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="userBlogsForm">
          <div class="row mb-3">
            <div class="col-xl-12">
              <div class="form-group">
                <label for="title">Blog Title</label>
                <input type="text" formControlName="title" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">Blog Title is required</div>
                </div>
              </div>
            </div>
            <div class="col-xl-12">
              <div class="form-group">
                <label for="description">Contents</label>
                <textarea type="number" formControlName="description"
                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }" cols="40" rows="5" class="form-control"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">
                    Contents is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-12">
              <div class="form-group">
                <label for="blogsDocument">Image Cover &nbsp;</label>

                <img *ngIf="f.blogsDocument.value" [src]="f.blogsDocument.value"
                  class="border img-fluid mb-3" height="50" width="50" />

                <input *ngIf="!fileData4blogsDocumentPendingForUpload"
                  id="ctrlUploadblogsDocument" type="file" name="image" accept="image/*"
                  (change)="onfileProgressForBlogsDocument($event)">
                <i *ngIf="fileData4blogsDocumentPendingForUpload"
                  class="icon-upload m-2 cursor-pointer text-success" (click)="onUploadForBlogsDocument()">
                  Upload
                </i>
                <div *ngIf="submitted && f.blogsDocument.errors" class="invalid-feedback">
                  <div *ngIf="f.blogsDocument.errors.required">Image Cover is required
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-12">
              <button class="btn btn-success btn-sm float-right" (click)="onBlogsUpdateSubmit()">
                <i class="icon icon-plus"></i>
                ADD
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>