<app-header></app-header>
<section class="resume schedule pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cal-time">
                    <div class="time">
                        <h2 class="title-text pt-1" i18n>Terms Of Service</h2>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- faq section -->
<section class="saas2 faq testimonial-bg py-2" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="faq-block">
                    <h3 class="mb-3" i18n>MEMBERSHIP WITH US:</h3>
                    <ul style="list-style: circle;" >
                        <li  i18n>When you choose to create a profile through our system, you also confirm that you will comply with all our conditions, which apply to all our customers. It is important that our system is safe for all partners.</li>
                        <li  i18n>From the moment you sign up, your registration is binding when you have logged in to your profile for the first time.</li>
                        <li  i18n>We store data to maintain the safety of Avitii Lending users</li>
                        <li  i18n>We have the right to edit the ads if we believe the ads are misleading.</li>
                        <li  i18n>We exchange data with credit-list.net, in order to assess the creditworthiness of the borrowers. A world wide credit list which ensures a safe experience at Avitii Lending</li>
                        <li  i18n>We remove ads if we find inappropriate content.</li>
                        <li  i18n>If there is an offensive or junk behavior, then we can exclude a user</li>
                        <li  i18n>Violation of membership conditions can result in a ban on your IP address.</li>
                        <li  i18n>You must be 18 years of age and with a valid photo ID to create a profile with us.</li>
                        <li  i18n>They are a community, so remember you can help keep Avitii Lending safe by "report user" under their profile. In this way, we make sure that Avitii Lending works as a community</li>
                        </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- end faq section -->

<section class="resume schedule pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cal-time">
                    <div class="time">
                        <h2 class="title-text pt-1" i18n>Privacy Policy</h2>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- faq section -->
<section class="saas1 faq testimonial-bg py-2" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="faq-block">
                    <div>
                        <!-- <h3 class="frequent-text">TERMS OF SERVICE</h3> -->
                        <p i18n>
                            We respect the intellectual property rights of others and ask you to do the same. We have adopted an Intellectual Property Policy regarding third-party claims that your material infringes the rights of others. We respond to all valid notices of such infringement, and our policy is to suspend or terminate the services of repeat infringers.
                          
                        </p>
                        <br>
                        <p i18n>
                            We have implemented technical and organizational measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, or disclosure. However, we cannot guarantee that unauthorized third parties will never be able to defeat those measures or use your personal information for improper purposes. You provide your personal information at your own risk.
                        </p>
                        <br>
                        <p i18n>
                            You are responsible for safeguarding your password and for restricting access to the Services from your compatible mobile devices and computer(s). You will immediately notify us of any unauthorized use of your password or avitii Account or any other breach of security. Notwithstanding, in the event of any dispute between two or more parties as to account ownership, we will be the sole arbiter of such dispute in our sole discretion. Our decision (which may include termination or suspension of any avitii Services subject to dispute) will be final and binding on all parties.
                        </p>
                        <h6 class="link" i18n>Still have a question? Reach out to us: <a>support@avitii.com</a></h6>
                        <br>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- end faq section -->

<app-footer></app-footer>