<div class="row">

    <div class="col-xl-12 col-12">
        <div class="card shadow mb-4">
         
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Update Your Income Details</h6>
                
            </div>
       
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-xl-12 mb-3">
                        Update your mothly income proof for the verification. be careful with your income proof uploads as you cannot change your monthly income proof once uploaded.
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label for="usr">Income Source</label>
                            <input type="text" class="form-control" placeholder="e.g. salaried, business, stocks etc">
                          </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label for="usr">Monthly Income in kr</label>
                            <input type="text" class="form-control" placeholder="">
                          </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label for="usr">Upload proof</label>
                            <input type="file" class="form-control" id="usr">
                          </div>
                    </div>
                    <div class="col-xl-12">
                        <button class="btn btn-success btn-sm float-right"><i class="icon icon-plus"></i> ADD</button>
                    </div>

                </div>

                <div class="table-responsive table-billing-history">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Monthly Income</th>
                                <th scope="col">status</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#39201</td>
                                <td>06/15/2020</td>
                                <td><span class="badge badge-success">verified</span></td>
                                <td><span class="badge badge-primary">Preview</span></td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-12 col-12">
        <div class="card shadow mb-4">
         
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Update Your Monthly Expenses</h6>
                
            </div>
       
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-xl-12 mb-3">
                        Update your existing loans or other expenses.

                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label for="usr">Expense Details</label>
                            <input type="text" class="form-control" placeholder="e.g. salaried, business, stocks etc">
                          </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label for="usr">Start Date</label>
                            <input type="date" class="form-control" placeholder="">
                          </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label for="usr">Payment Date</label>
                            <input type="date" class="form-control" id="usr">
                          </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label for="usr">Monthly EMI</label>
                            <input type="text" class="form-control" id="usr">
                          </div>
                    </div>
                    <div class="col-xl-12">
                        <button class="btn btn-success btn-sm float-right"><i class="icon icon-plus"></i> ADD</button>
                    </div>

                </div>

                <div class="table-responsive table-billing-history">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Expense Details</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Payment Date</th>
                                <th scope="col">Monthly EMI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#39201</td>
                                <td>06/15/2020</td>
                                <td><span class="badge badge-success">verified</span></td>
                                <td><span class="badge badge-primary">Preview</span></td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  
</div>