<div class="row">
    <div class="col-xl-12 mn-4">
        <i class="icon-star" (click)="currentUsersRating=1" (mouseover)='currentUsersRating=1' [ngClass]="{ 'text-warning': currentUsersRating>=1 }"></i>
        <i class="icon-star" (click)="currentUsersRating=2" (mouseover)='currentUsersRating=2' [ngClass]="{ 'text-warning': currentUsersRating>=2 }"></i>
        <i class="icon-star" (click)="currentUsersRating=3" (mouseover)='currentUsersRating=3' [ngClass]="{ 'text-warning': currentUsersRating>=3 }"></i>
        <i class="icon-star" (click)="currentUsersRating=4" (mouseover)='currentUsersRating=4' [ngClass]="{ 'text-warning': currentUsersRating>=4 }"></i>
        <i class="icon-star" (click)="currentUsersRating=5" (mouseover)='currentUsersRating=5' [ngClass]="{ 'text-warning': currentUsersRating>=5 }"></i>
    </div>

    <div class="col-xl-12 mb-4">
        <div class="mb-3">Write Your Review </div>
        <div class="form-group">
            <textarea rows="6" [(ngModel)]="currentUsersReview" placeholder="Start Typing" class="form-control"></textarea>
        </div>
    </div>
    <div class="col-xl-12">
        <button class="btn btn-danger btn-sm text-white" (click)="navigateOnHome()">
            Cancel</button>

        <button class="btn btn-success btn-sm text-white" [disabled]="!loanId || !currentUsersReview || !currentUsersRating" (click)="submitRatingReviews()">
            Submit</button>
    </div>
</div>