<!-- addSession section -->

        <div class="row">
            <div class="col-xl-3 col-12">
                <div class="card border-left-primary shadow py-2 mb-3">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" i18n>
                                    EMI (Monthly)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" i18n>
                                    kr {{_calculatedMonthlyAmountForEMI}}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-left-primary shadow py-2 mb-3">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" i18n>
                                    Loan Amount
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" i18n>
                                    kr {{f.loanAmount.value}}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-left-primary shadow py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" i18n>
                                    Total Loan
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" i18n>
                                    kr {{utilityService.returnRoundedNumber(_calculatedMonthlyAmountForEMI*f.loanTenureInMonths.value)}}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary" i18n>Get A Loan</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <form [formGroup]="addSessionForm" class="theme-form">

                            <div class="row">

                                <div class="col-xl-12 col-12">

                                    <div class="form-group">
                                        <label for="loanType" i18n>Loan Type</label>
                                        <select formControlName="loanType" class="custom-select"
                                            [ngClass]="{ 'is-invalid': submitted && f.loanType.errors }">
                                            <option value="" selected disabled > Choose Loan Type</option>
                                            <option *ngFor="let item of _.values(utilityService.ParentLoanTypes);"
                                                [ngValue]="item._id" i18n>
                                                {{item.name}}</option>
                                        </select>
                                        <div *ngIf="submitted && f.loanType.errors" class="invalid-feedback">
                                            <div *ngIf="f.loanType.errors.required" i18n>Loan type is required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-12">
                                    <div class="form-group">
                                        <label for="loanAmount" i18n>Loan Amount</label>
                                        <input type="number" min="0" formControlName="loanAmount" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.loanAmount.errors }"
                                            (change)="calculateMonthlyAmountForEMI()"
                                            (keyup)="calculateMonthlyAmountForEMI()" />
                                        <div *ngIf="submitted && f.loanAmount.errors" class="invalid-feedback">
                                            <div *ngIf="f.loanAmount.errors.required" i18n>Loan Amount is required</div>
                                            <div *ngIf="f.loanAmount.errors.min" i18n>value must be greater than 1</div>
                                            <div *ngIf="f.loanAmount.errors.max" i18n>value must be less than
                                                {{currentUserMaxLoanAmount}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 small text-primary mt-n3 mb-3">

                                </div>
                                <div class="col-xl-12 col-12">
                                    <div class="form-group">
                                        <label for="loanTenureInMonths" i18n>Tenure in Months</label>
                                        <input type="number" formControlName="loanTenureInMonths" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.loanTenureInMonths.errors }"
                                            (change)="calculateMonthlyAmountForEMI()"
                                            (keyup)="calculateMonthlyAmountForEMI()" />
                                        <div *ngIf="submitted && f.loanTenureInMonths.errors" class="invalid-feedback">
                                            <div *ngIf="f.loanTenureInMonths.errors.required" i18n>Loan Tenure is
                                                required
                                            </div>
                                            <div *ngIf="f.loanTenureInMonths.errors.min" i18n>value must be greater than
                                                3</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-12">
                                    <div class="form-group">
                                        <label for="loanInterestRate" i18n>Interest(%) Rate (per month)</label>
                                        <input type="number" formControlName="loanInterestRate" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.loanInterestRate.errors }"
                                            (change)="calculateMonthlyAmountForEMI()"
                                            (keyup)="calculateMonthlyAmountForEMI()" />
                                        <div *ngIf="submitted && f.loanInterestRate.errors" class="invalid-feedback">
                                            <div *ngIf="f.loanInterestRate.errors.required" i18n>Interest Rate is
                                                required
                                            </div>
                                            <div *ngIf="f.loanInterestRate.errors.min" i18n>value must be greater than 0
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-12">
                                    <div class="form-group mb-0">
                                        <label for="loanStartDateTimeCustomised" i18n>Start on</label>
                                        <input type="date" formControlName="loanStartDateTimeCustomised"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.loanStartDateTimeCustomised.errors }"
                                            [max]="maxDate" [min]="minDate" />
                                        <div *ngIf="submitted && f.loanStartDateTimeCustomised.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f.loanStartDateTimeCustomised.errors.required" i18n>Start Date
                                                Time is required
                                            </div>
                                            <div *ngIf="f.loanStartDateTimeCustomised.errors.date" i18n>Invalid Date
                                                format.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                        <div class="col-xl-12 col-12">
                                            <label for="loanEndDateTimeCustomised" i18n>Ends on</label>
                                            <input [readonly]="true" type="datetime-local"
                                                formControlName="loanEndDateTimeCustomised" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.loanEndDateTimeCustomised.errors }"
                                                [max]="maxDate" [min]="minDate" />
                                            <div *ngIf="submitted && f.loanEndDateTimeCustomised.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f.loanEndDateTimeCustomised.errors.required" i18n>End Date Time is
                                                    required
                                                </div>
                                                <div *ngIf="f.loanEndDateTimeCustomised.errors.date" i18n>Invalid Date format.
                                                </div>
                                            </div>
                                        </div>
                                        -->
                                <div class="col-xl-12 mt-3">
                                    <div for="loanRepaymentType" class="mb-2" i18n>How to give the money</div>
                                   
                                        
                                        <div class="form-check-inline" *ngFor="let item of _.values( utilityService.LoanRepaymentTypes);">
                                           
                                            <div class="custom-control custom-checkbox">
                                                <input name="service" id="services_{{item._id}}"
                                                    type="checkbox" class="custom-control-input"
                                                    value="{{item._id}}"
                                                    (change)="onLoanRepaymentTypeChange($event)"
                                                    [checked]="onInitSetLoanRepaymentTypeValue(item._id)"
                                                    [ngClass]="{ 'is-invalid': submitted && f.loanRepaymentType.errors }">
                                                <label for="services_{{item._id}}"
                                                    class="custom-control-label">{{item.name}}</label>
                                            </div>
                                       
                                    </div>
                                        <div *ngIf="submitted && f.loanRepaymentType.errors" class="invalid-feedback">
                                            <div *ngIf="f.loanRepaymentType.errors.required">Payment option required
                                            </div>
                                        </div>
                                   
                                </div>

                                <div class="col-xl-12 mt-3">
                                    <div class="form-group">
                                        <label for="comment" i18n>Description:</label>
                                        <textarea class="form-control" formControlName="loanDescription" rows="2"
                                            [ngClass]="{ 'is-invalid': submitted && f.loanDescription.errors }">
                                            </textarea>
                                    </div>
                                    <div *ngIf="submitted && f.loanDescription.errors" class="invalid-feedback">
                                        <div *ngIf="f.loanDescription.errors.required" i18n>Description is
                                            required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 text-center">
                                    <hr>
                                    <button type="button" (click)="onaddSessionUpdateSubmit()" [disabled]="loading"
                                        class="btn btn-primary" i18n>Submit</button>
                                    <img *ngIf="loading" class="pl-3"
                                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
 
<!-- addSession section -->