<h2 mat-dialog-title class="ml-n2"><button id="ctrlNavigate2Profile" (click)="navigate2Profile()" class="btn btn-link btn-sm" mat-button mat-dialog-close ><i
            class="icon-angle-left"></i> Back</button>Portfolio</h2>
<div class="row mb-2 mb-3">
    <div class="col-xl-12 col-12">
        <form [formGroup]="profilePortfolioForm">
            <div class="card">
                <div class="card-body">
                    <div class="tab-pane" id="profile_portfolio">
                        <div class="row">
                            <div class="col-xl-12 mt-3">
                                <label for="projectTitle" class="font-weight-bold">Project Title</label>
                                <input maxlength="50" formControlName="projectTitle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.projectTitle.errors }" />
                                <div *ngIf="submitted && f.projectTitle.errors" class="invalid-feedback">
                                    <div *ngIf="f.projectTitle.errors.required">Project Title is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 mt-3">
                                <label for="myProfileDetails" class="font-weight-bold">Description</label>
                                <textarea rows="2" maxlength="500" formControlName="myProfileDetails" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.myProfileDetails.errors }">
                                </textarea>
                                <div *ngIf="submitted && f.myProfileDetails.errors" class="invalid-feedback">
                                    <div *ngIf="f.myProfileDetails.errors.required">Description is required</div>
                                </div>
                            </div>

                            <div class="col-xl-12  mt-3 text-center">
                                <!--1000*(10*10*10*1000)::=>1GB-->
                                <div class="custom-dropzone" ngx-dropzone [accept]="'image/*,video/*,application/pdf'" (change)="onSelectMyProfileMedia($event)" [maxFileSize]="1000*(10*10*10*1000)">
                                    <ngx-dropzone-label>
                                        <div>
                                            <p>Drag and drop your files here to upload Your Work</p>
                                        </div>
                                    </ngx-dropzone-label>
                                    <!--  | dataArrayFilter : 'type' : 'video/'; | dataArrayFilter : 'type' : 'image/jpeg';-->
                                    <div *ngFor="let file4Preview of myProfileFiles">
                                        <ngx-dropzone-image-preview *ngIf="file4Preview.type.indexOf('image/')>-1" ngProjectAs="ngx-dropzone-preview" [file]="file4Preview" [removable]="true" (removed)="onRemoveMyProfileMedia(file4Preview)">
                                            <ngx-dropzone-label>{{ file4Preview.name }} ({{ file4Preview.type }})
                                            </ngx-dropzone-label>
                                        </ngx-dropzone-image-preview>
                                        <ngx-dropzone-video-preview *ngIf="file4Preview.type.indexOf('video/')>-1" ngProjectAs="ngx-dropzone-preview" [file]="file4Preview" [removable]="true" (removed)="onRemoveMyProfileMedia(file4Preview)">
                                            <ngx-dropzone-label>{{ file4Preview.name }} ({{ file4Preview.type }})
                                            </ngx-dropzone-label>
                                        </ngx-dropzone-video-preview>
                                        <ngx-dropzone-preview *ngIf="file4Preview.type.indexOf('video/')==-1 && file4Preview.type.indexOf('image/')==-1" ngProjectAs="ngx-dropzone-preview" [file]="file4Preview" [removable]="true" (removed)="onRemoveMyProfileMedia(file4Preview)">
                                            <ngx-dropzone-label>{{ file4Preview.name }} ({{ file4Preview.type }})
                                            </ngx-dropzone-label>
                                        </ngx-dropzone-preview>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12  mt-3 text-center">
                                <button class="btn btn-primary mt-3" (click)="onUploadMyProfileMedia()">Upload</button>
                            </div>
                            <div *ngIf="fileUploadProgress">
                                Upload progress: {{ fileUploadProgress }}
                            </div>
                            <div class="col-xl-12 mt-3">
                                <div class="card mt-2">
                                    <div class="card-header">
                                        My Documents
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-2" *ngFor="let previewUrl of f.myProfileMedia.value">
                                                <video *ngIf="previewUrl.type.indexOf('video/')>-1" class="img-fluid border" controls [src]="previewUrl.url"></video>
                                                <img *ngIf="previewUrl.type.indexOf('image/')>-1" class="img-fluid border" [src]="previewUrl.url" onerror="this.src='./assets/img/na.png';" />
                                                <img *ngIf="previewUrl.type.indexOf('video/')==-1 && previewUrl.type.indexOf('image/')==-1" class="img-fluid border" src="./assets/img/pdf.png" onerror="this.src='./assets/img/na.png';" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 mt-3">
                                <hr>
                                <button type="button" (click)="onProfileUpdateSubmit()" [disabled]="loading" class="btn btn-primary float-right">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>