<h2 mat-dialog-title class="text-primary">
    <div class="row">
        <div class="col-xl-11 col-10">
            <h4 class="text-black-50" i18n>
                Rate User : {{userObj.firstName}}
            </h4>
        </div>
        <div class="col-xl-1 col-2">
            <i class="icon-close float-right" mat-button (click)="navigateOnHome()"></i>
        </div>
    </div>
</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-xl-12 mn-4" *ngIf="!alreadyRatedUser">
            <i class="icon-star" (click)="updateRating(1)" (mouseover)='updateRating(1)'
                [ngClass]="{ 'text-warning': currentUsersRating>=1 }"></i>
            <i class="icon-star" (click)="updateRating(2)" (mouseover)='updateRating(2)'
                [ngClass]="{ 'text-warning': currentUsersRating>=2 }"></i>
            <i class="icon-star" (click)="updateRating(3)" (mouseover)='updateRating(3)'
                [ngClass]="{ 'text-warning': currentUsersRating>=3 }"></i>
            <i class="icon-star" (click)="updateRating(4)" (mouseover)='updateRating(4)'
                [ngClass]="{ 'text-warning': currentUsersRating>=4 }"></i>
            <i class="icon-star" (click)="updateRating(5)" (mouseover)='updateRating(5)'
                [ngClass]="{ 'text-warning': currentUsersRating>=5 }"></i>
        </div>
        <div class="col-xl-12 mn-4" *ngIf="alreadyRatedUser">
            <app-star [rating]="currentUsersRating" (ratingClicked)="onRatingClicked($event)">
            </app-star>
        </div>
        <div class="col-xl-12 mb-4">
            <div class="custom-control custom-checkbox">

                <input [disabled]="alreadyRatedUser" type="checkbox" [value]="true" [(ngModel)]="isRecommonded"
                    class="custom-control-input" id="isRecommonded" [ngClass]="{ 'is-invalid': !isRecommonded }" />
                <label class="custom-control-label" for="isRecommonded" i18n>Is Recommendable?
                </label>
            </div>
        </div>
        <div class="col-xl-12 mb-4">
            <div class="mb-3" i18n>Write Your Review </div>
            <div class="form-group">
                <textarea [disabled]="alreadyRatedUser" rows="6" [(ngModel)]="currentUsersReview"
                    placeholder="Start Typing" class="form-control"></textarea>
            </div>
            <div *ngIf="submitted && !currentUsersReview" class="invalid-feedback">
                <div *ngIf="!currentUsersReview" i18n> Review is required</div>
            </div>
        </div>
        <div class="col-xl-12">
            <button class="btn btn-danger btn-sm text-white" (click)="navigateOnHome()">
                Cancel</button>

            <button class="btn btn-success btn-sm text-white"
                [disabled]="!loanId || !currentUsersReview || !currentUsersRating ||alreadyRatedUser"
                (click)="submitRatingReviews()" i18n>
                Submit</button>
        </div>
    </div>
</mat-dialog-content>