  <!--copyright start-->
  <div class="agency copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="link-horizontal">
                    <ul>
                        <li>
                            <a class="copyright-text" routerLink="/disclaimer" routerLinkActive="active">Privacy Policy</a>
                        </li>

                        <li>
                            <a class="copyright-text" routerLink="/disclaimer" routerLinkActive="active">Terms of Use</a>
                        </li>
                        <li>
                            <a class="copyright-text" routerLink="/faqs" routerLinkActive="active">FAQs</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <h6 class="copyright-text text-white text-right">© 2020 Avitii Lender System

                    </h6>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!--copyright end-->
  
 