<!-- Page Heading -->
<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Profile</a>
    </div> -->

<div [ngSwitch]="authenticationService.currentUserValue.role">
    <div *ngSwitchCase="Role.Borrower">
        <div class="jumbotron"
            *ngIf="(authenticationService.currentUserValue.isVerified==0 || authenticationService.currentUserValue.isVerified==2) || !authenticationService.currentUserValue.isUsersBankDetailsSubmitted || (authenticationService.currentUserValue.isUsersIncomeAndExpenseProofVerified==0 || authenticationService.currentUserValue.isUsersIncomeAndExpenseProofVerified==2)">
            <div class="text-black-50 h2 font-weight-lighter" i18n>
                Welome{{authenticationService.currentUserValue.isVerified==1?', Your profile has been verified
                succesfully':''}}. Your need to submit your
                <span class="badge badge-danger">Bank Details</span> and
                <span class="badge badge-danger">Income Proof Documents</span> to access the loan market.
            </div>
            <hr>
            <ul class="list-unstyled">
                <li class="d-flex align-items-center justify-content-center mb-3 h4" i18n>
                    Profile and personal document verification
                    <span [ngSwitch]="authenticationService.currentUserValue.isVerified">
                        <i *ngSwitchCase="1" class="icon icon-check-box text-success ml-3"></i>
                        <i *ngSwitchDefault class="icon icon-pencil-alt text-danger ml-3"
                            routerLink="/borrower/profile"></i>
                    </span>
                </li>
                <li class="d-flex align-items-center justify-content-center mb-3 h4" i18n>
                    Bank details submission
                    <span [ngSwitch]="authenticationService.currentUserValue.isUsersBankDetailsSubmitted">
                        <i *ngSwitchCase="true" class="icon icon-check-box text-success ml-3"></i>
                        <i *ngSwitchDefault class="icon icon-pencil-alt text-danger ml-3"
                            routerLink="/borrower/bank-details"></i>
                    </span>
                </li>
                <li class="d-flex align-items-center justify-content-center mb-3 h4" i18n>
                    Income Proof Documents and Mothly Expenses
                    <span [ngSwitch]="authenticationService.currentUserValue.isUsersIncomeAndExpenseProofVerified">
                        <i *ngSwitchCase="1" class="icon icon-check-box text-success ml-3"></i>
                        <i *ngSwitchDefault class="icon icon-pencil-alt text-danger ml-3"
                            routerLink="/borrower/income-proof"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div *ngSwitchCase="Role.Lender">
        <div class="jumbotron"
            *ngIf="(authenticationService.currentUserValue.isVerified==0 || authenticationService.currentUserValue.isVerified==2) || !authenticationService.currentUserValue.isUsersBankDetailsSubmitted">
            <div class="text-black-50 h2 font-weight-lighter" i18n>
                Welome{{authenticationService.currentUserValue.isVerified==1?', Your profile has been verified
                succesfully':''}}. Your need to submit your
                <span class="badge badge-danger">Bank Details</span> to access the Loan Market.
            </div>
            <hr>
            <ul class="list-unstyled">
                <li class="d-flex align-items-center justify-content-center mb-3 h4" i18n>
                    Profile and personal document verification
                    <span [ngSwitch]="authenticationService.currentUserValue.isVerified">
                        <i *ngSwitchCase="1" class="icon icon-check-box text-success ml-3"></i>
                        <i *ngSwitchDefault class="icon icon-pencil-alt text-danger ml-3"
                            routerLink="/lender/profile"></i>
                    </span>
                </li>
                <li class="d-flex align-items-center justify-content-center mb-3 h4" i18n>
                    Bank details submission
                    <span [ngSwitch]="authenticationService.currentUserValue.isUsersBankDetailsSubmitted">
                        <i *ngSwitchCase="true" class="icon icon-check-box text-success ml-3"></i>
                        <i *ngSwitchDefault class="icon icon-pencil-alt text-danger ml-3"
                            routerLink="/lender/bank-details"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-3 col-6 mb-4">
        <div class="card border-left-warning shadow h-100">
            <div class="card-body dashobard-card">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" i18n>
                            Member since
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{authenticationService.currentUserValue.userVerifiedOn | date:'dd-MMM-YYYY'}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-3 col-6 mb-4">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body dashobard-card">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" i18n>
                            My Level
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800 text-capitalize text-cap">
                            <!--{{utilityService.returnStringWithReplacing_(authenticationService.currentUserValue.userType)}}-->
                            {{(authenticationService.currentUserValue.userTypeTitle ||
                            authenticationService.returnUserTypeForUserFromSuppliedUserLevel(authenticationService.currentUserValue.userType))}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-3 col-6 mb-4">
        <div class="card border-left-success shadow h-100">
            <div class="card-body dashobard-card">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1" i18n>
                            Paid Contracts
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{allMyPaidContractCount}}
                                </div>
                            </div>
                            <!-- <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div> -->
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-3 col-6 mb-4">
        <div class="card border-left-secondary shadow h-100">
            <div class="card-body dashobard-card">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1" i18n>
                            Paid Loans</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{allMyPaidLoanCount}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-3 col-6 mb-4">
        <div class="card bg-primary text-white shadow">
            <div class="card-body dashobard-card">
                <div class="text-xs font-weight-bold text-uppercase mb-1" i18n>
                    Active Loan</div>
                <div class="h5 mb-0 font-weight-bold">{{allMyActiveLoanCount}}</div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-3 col-6 mb-4">
        <div class="card bg-success text-white shadow">
            <div class="card-body dashobard-card">
                <div class="text-xs font-weight-bold text-uppercase mb-1" i18n>
                    UnSigned contracts</div>
                <div class="h5 mb-0 font-weight-bold">{{allMyUnSignedContractLoanCount}}</div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-3 col-6 mb-4">
        <div class="card bg-warning text-white shadow">
            <div class="card-body dashobard-card">
                <div class="text-xs font-weight-bold text-uppercase mb-1" i18n>
                    Disbursed Loans</div>
                <div class="h5 mb-0 font-weight-bold">{{allMyDisbursedLoanCount}}</div>
            </div>
        </div>
    </div>
    
    <div *ngIf="authenticationService.currentUserValue.role==Role.Borrower" class="col-xl-3 col-md-3 col-6 mb-4">
        <div class="card bg-secondary text-white shadow">
            <div class="card-body dashobard-card">
                <div class="text-xs font-weight-bold text-uppercase mb-1">
                    Budget
            </div>
                <div class="h5 mb-0 font-weight-bold">{{authenticationService.currentUserValue.totalAllowedBudget}}</div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-xl-12 col-12">
        <div class="card shadow mb-4">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary" i18n>Active Loans</h6>

            </div>

            <div class="card-body p-0">
                <div class="table-responsive table-billing-history">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" i18n>Type</th>
                                <th scope="col" i18n>
                                    {{Role.Lender!=authenticationService.currentUserValue.role?'Lender
                                    Name':'Borrower Name'}}
                                </th>
                                <th scope="col" i18n>Amount</th>
                                <th scope="col" i18n>Refund</th>
                                <th scope="col" i18n>Next EMI</th>
                                <th scope="col" i18n>Status</th>
                                <th scope="col" i18n>Contract</th>
                                <th scope="col" i18n>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--New Data table from Sessions Apply-->
                            <tr
                                *ngFor="let LoanApplyObj of utilityService._.values( allSessionApplyData) | mySessionsFilter : 'status' : ['accepted']:checkCreatedByUserId:checkCreatedByT; let i=index;">
                                <td class="text-capitalize">
                                    <span (click)="showAppliedToSession(null, LoanApplyObj.loanId)">
                                        {{(LoanApplyObj.sessionForBorrower.loanType || "").replace("_", " ")}}   
                                    </span>
                                </td>
                                <td class="text-capitalize">
                                    <span (click)="usersProfile((LoanApplyObj.lenderId._id!=authenticationService.currentUserValue._id?LoanApplyObj.lenderId:LoanApplyObj.borrowerId))">
                                        {{(LoanApplyObj.lenderId._id!=authenticationService.currentUserValue._id?LoanApplyObj.lenderId.firstName:LoanApplyObj.borrowerId.firstName)}}
                                    </span>
                                    <!--
                                {{userService.returnUsersObjFromLocal(null,
                                null,'firstName',
                                (LoanApplyObj.lenderId._id!=authenticationService.currentUserValue._id?LoanApplyObj.lenderId._id:LoanApplyObj.borrowerId._id))}}
                                -->
                                </td>
                                <td>{{LoanApplyObj.loanAmount || LoanApplyObj.sessionForBorrower.loanAmount}}</td>
                                <td>{{utilityService.returnRoundedNumber((LoanApplyObj.calculatedMonthlyAmountForEMI ||
                                    LoanApplyObj.sessionForBorrower.calculatedMonthlyAmountForEMI) *
                                    LoanApplyObj.sessionForBorrower.loanTenureInMonths)}}</td>
                                <td>{{LoanApplyObj.nextInstallment | date:'dd-MMM-YYYY'}}</td>
                                <td>
                                    <div *ngIf="LoanApplyObj.lenderId._id!=authenticationService.currentUserValue._id">
                                        <a *ngIf="!LoanApplyObj.isLoanAmountPaidByLender">
                                            <span class="badge badge-danger" i18n>
                                                Pending
                                            </span>
                                        </a>
                                        <a
                                            *ngIf="LoanApplyObj.isLoanAmountPaidByLender && !LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower">
                                            <span class="badge badge-warning" i18n>
                                                Money Received but Confirmation is Pending
                                            </span>
                                        </a>
                                        <a
                                            *ngIf="LoanApplyObj.isLoanAmountPaidByLender && LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower">
                                            <span class="badge badge-success" i18n>
                                                Money Received and Confirmed
                                            </span>
                                        </a>
                                    </div>
                                    <div *ngIf="LoanApplyObj.lenderId._id==authenticationService.currentUserValue._id">
                                        <a *ngIf="!LoanApplyObj.isLoanAmountPaidByLender">
                                            <span
                                                *ngIf="LoanApplyObj.lenderId._id==authenticationService.currentUserValue._id"
                                                class="badge badge-danger" i18n>
                                                Money Not Sent
                                            </span>
                                        </a>
                                        <a
                                            *ngIf="LoanApplyObj.isLoanAmountPaidByLender && !LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower">
                                            <span class="badge badge-warning" i18n>
                                                Money Received but Confirmation is Pending
                                            </span>
                                        </a>
                                        <a
                                            *ngIf="LoanApplyObj.isLoanAmountPaidByLender && LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower">
                                            <span class="badge badge-success" i18n>
                                                Money Received and Confirmed
                                            </span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-success btn-sm float-left ml-2" i18n target="_blank"
                                        [href]="returnUrl4downloadCOntractPDF(LoanApplyObj._id)" download><i
                                            class="icon-cloud-down"></i>&nbsp;</a>
                                </td>
                                <td>
                                    <div *ngIf="LoanApplyObj.lenderId._id!=authenticationService.currentUserValue._id">
                                        <a
                                            *ngIf="LoanApplyObj.isLoanAmountPaidByLender && !LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower">
                                            <!--<span class="badge badge-success" i18n>is Money Received?</span>-->

                                            <div class="form-check-inline">
                                                <div class="custom-control custom-checkbox">
                                                    <input name="isLoanAmountPaidByLenderConfirmByBorrower_{{i}}"
                                                        id="isLoanAmountPaidByLenderConfirmByBorrower_{{i}}"
                                                        type="checkbox" class="custom-control-input" [value]="true"
                                                        (change)="LoanMoneyTransferStatusChange($event, LoanApplyObj.sessionForBorrower, LoanApplyObj)"
                                                        [checked]="LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower">
                                                    <label for="isLoanAmountPaidByLenderConfirmByBorrower_{{i}}"
                                                        class="custom-control-label" i18n>
                                                        Money Received
                                                    </label>
                                                </div>
                                            </div>
                                        </a>

                                        <a
                                            *ngIf="LoanApplyObj.isLoanAmountPaidByLender && LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower && LoanApplyObj.nextInstallment && !LoanApplyObj.isLoanAmountPaidByBorrower">
                                            <!--
                                        <span (click)="LoanMoneyTransferStatusModel(LoanApplyObj.sessionForBorrower, LoanApplyObj, LoanApplyObj.nextInstallment)" class="badge badge-success">is Installment Money Transfered?</span>
                                    -->
                                            <div class="form-check-inline">
                                                <div class="custom-control custom-checkbox">
                                                    <input name="isLoanAmountPaidByBorrower_{{i}}"
                                                        id="isLoanAmountPaidByBorrower_{{i}}" type="checkbox"
                                                        class="custom-control-input" [value]="true"
                                                        (change)="LoanMoneyTransferStatusChange($event, LoanApplyObj.sessionForBorrower, LoanApplyObj, LoanApplyObj.nextInstallment)"
                                                        [checked]="LoanApplyObj.isLoanAmountPaidByBorrower">
                                                    <label for="isLoanAmountPaidByBorrower_{{i}}"
                                                        class="custom-control-label" i18n>
                                                        Installment Money Transfered
                                                    </label>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div *ngIf="LoanApplyObj.lenderId._id==authenticationService.currentUserValue._id">
                                        <a *ngIf="!LoanApplyObj.isLoanAmountPaidByLender">
                                            <!--
                                        <span (click)="LoanMoneyTransferStatusModel(LoanApplyObj.sessionForBorrower, LoanApplyObj)" class="badge badge-success">
                                            is Money Transfered?
                                        </span>
                                    -->
                                            <div class="form-check-inline">
                                                <div class="custom-control custom-checkbox">
                                                    <input name="isLoanAmountPaidByLender_{{i}}"
                                                        id="isLoanAmountPaidByLender_{{i}}" type="checkbox"
                                                        class="custom-control-input" [value]="true"
                                                        (change)="LoanMoneyTransferStatusChange($event, LoanApplyObj.sessionForBorrower, LoanApplyObj)"
                                                        [checked]="LoanApplyObj.isLoanAmountPaidByLender">
                                                    <label for="isLoanAmountPaidByLender_{{i}}"
                                                        class="custom-control-label" i18n>
                                                        Money Transfered
                                                    </label>
                                                </div>
                                            </div>
                                        </a>
                                        <a
                                            *ngIf="!LoanApplyObj.isLoanAmountPaidByBorrower && LoanApplyObj.installmentWiseLoanAmountPaidByBorrower">
                                            <!--<span class="badge badge-success" i18n>is Installment Money Received?&nbsp;</span>-->
                                            <div class="form-check-inline">
                                                <div class="custom-control custom-checkbox">
                                                    <input name="isLoanAmountPaidByBorrowerConfirmedByLender_{{i}}"
                                                        id="isLoanAmountPaidByBorrowerConfirmedByLender_{{i}}"
                                                        type="checkbox" class="custom-control-input" [value]="true"
                                                        (change)="LoanMoneyTransferStatusChange($event, LoanApplyObj.sessionForBorrower, LoanApplyObj, LoanApplyObj.nextInstallment, true)"
                                                        [checked]="LoanApplyObj.isLoanAmountPaidByBorrower">
                                                    <label for="isLoanAmountPaidByBorrowerConfirmedByLender_{{i}}"
                                                        class="custom-control-label" i18n>
                                                        Installment Money Received
                                                    </label>
                                                </div>
                                            </div>
                                            <span
                                                *ngFor="let installmentObj of utilityService._.values(LoanApplyObj.installmentWiseLoanAmountPaidByBorrower)">
                                                <i
                                                    *ngIf="installmentObj.createdOnForLoanAmountPaidToLender && !installmentObj.createdOnForLoanAmountPaidToLenderConfirmByLender">*</i>
                                            </span>
                                        </a>


                                    </div>
                                </td>
                            </tr>
                            <!--New Data table from Session Apply-->

                            <!--Old Data table from Sessions-->
                            <!--
                            <tr
                                *ngFor="let LoanObj of allSessionsData | mySessionsFilter : 'sessionAppliedByBorrowers[0].status' : ['accepted']:checkCreatedByUserId:checkCreatedByT">
                                <td class="text-capitalize">{{(LoanObj.loanType || "").replace("_", " ")}}</td>
                                <td class="text-capitalize">
                                    {{userService.returnUsersObjFromLocal(LoanObj.sessionAppliedByBorrowers,
                                    true,'firstName')}}</td>
                                <td>{{LoanObj.loanAmount}}</td>
                                <td>{{utilityService.returnRoundedNumber(LoanObj.calculatedMonthlyAmountForEMI *
                                    LoanObj.loanTenureInMonths)}}</td>
                                <td>{{LoanObj.nextInstallment | date:'dd-MMM-YYYY'}}</td>
                                <td>
                                    <div *ngFor="let LoanApplyObj of LoanObj.sessionAppliedByBorrowers">
                                        <a>
                                            <span *ngIf="!LoanApplyObj.isLoanAmountPaidByLender"
                                                class="badge badge-danger">Pending</span>
                                            <span *ngIf="LoanApplyObj.isLoanAmountPaidByLender"
                                                class="badge badge-success">Received Money</span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <a (click)="showAppliedToSession(LoanObj)">
                                        <span class="badge badge-primary">Details</span>
                                    </a>
                                </td>
                            </tr>
                        -->
                            <!--Old Data table from Sessions-->
                            <tr class="mt-2 text-center no-item">

                                <h5 class="my-4 font-weight-normal" i18n>No Data Found.</h5>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-12">
        <div class="card shadow mb-4">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary" i18n>Unsigned Contracts</h6>

            </div>

            <div class="card-body p-0">
                <div class="table-responsive table-billing-history">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" i18n>Type</th>
                                <th scope="col" i18n>
                                    {{Role.Lender!=authenticationService.currentUserValue.role?'Lender
                                    Name':'Borrower Name'}}
                                </th>
                                <th scope="col" i18n>Amount</th>
                                <th scope="col" i18n>Refund</th>
                                <!--<th scope="col" i18n>Next EMI</th>-->
                                <th scope="col" i18n>Application Date</th>
                                <th scope="col" i18n>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let LoanApplyObj of utilityService._.values( allSessionApplyData) | mySessionsFilter : 'status' : ['awaiting_for_approval']:checkCreatedByUserId:checkCreatedByT; let i=index;">
                                <td class="text-capitalize">
                                    <span (click)="showAppliedToSession(null, LoanApplyObj.loanId)">
                                        {{(LoanApplyObj.sessionForBorrower.loanType || "").replace("_", " ")}}
                                    </span>
                                </td>
                                <td class="text-capitalize">
                                    <span (click)="usersProfile((LoanApplyObj.lenderId._id!=authenticationService.currentUserValue._id?LoanApplyObj.lenderId:LoanApplyObj.borrowerId))">
                                        {{(LoanApplyObj.lenderId._id!=authenticationService.currentUserValue._id?LoanApplyObj.lenderId.firstName:LoanApplyObj.borrowerId.firstName)}}
                                    </span>
                                    <!--
                                {{userService.returnUsersObjFromLocal(null,
                                null,'firstName',
                                (LoanApplyObj.lenderId._id!=authenticationService.currentUserValue._id?LoanApplyObj.lenderId._id:LoanApplyObj.borrowerId._id))}}
                                -->
                                </td>
                                <td>{{LoanApplyObj.loanAmount || LoanApplyObj.sessionForBorrower.loanAmount}}</td>
                                <td>{{utilityService.returnRoundedNumber((LoanApplyObj.calculatedMonthlyAmountForEMI ||
                                    LoanApplyObj.sessionForBorrower.calculatedMonthlyAmountForEMI) *
                                    LoanApplyObj.sessionForBorrower.loanTenureInMonths)}}</td>
                                <td>{{LoanApplyObj.nextInstallment | date:'dd-MMM-YYYY'}}</td>
                                <!--
                            <td>
                                <div *ngIf="LoanApplyObj.lenderId._id!=authenticationService.currentUserValue._id">
                                    <a *ngIf="!LoanApplyObj.isLoanAmountPaidByLender">
                                        <span class="badge badge-danger" i18n>
                                            Pending
                                        </span>
                                    </a>
                                    <a
                                        *ngIf="LoanApplyObj.isLoanAmountPaidByLender && !LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower">
                                        <span class="badge badge-warning" i18n>
                                            Money Sent
                                        </span>
                                    </a>
                                    <a
                                        *ngIf="LoanApplyObj.isLoanAmountPaidByLender && LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower">
                                        <span class="badge badge-success" i18n>
                                            Received Money
                                        </span>
                                    </a>
                                </div>
                                <div *ngIf="LoanApplyObj.lenderId._id==authenticationService.currentUserValue._id">
                                    <a *ngIf="!LoanApplyObj.isLoanAmountPaidByLender">
                                        <span
                                            *ngIf="LoanApplyObj.lenderId._id==authenticationService.currentUserValue._id"
                                            class="badge badge-danger" i18n>
                                            Money Not Sent
                                        </span>
                                    </a>
                                    <a
                                    *ngIf="LoanApplyObj.isLoanAmountPaidByLender && !LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower">
                                    <span class="badge badge-warning" i18n>
                                        Money Sent
                                    </span>
                                    </a>
                                    <a
                                        *ngIf="LoanApplyObj.isLoanAmountPaidByLender && LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower">
                                        <span class="badge badge-success" i18n>
                                            Money Sent
                                        </span>
                                    </a>
                                </div>
                            </td>
                        -->
                                <td>
                                    <a (click)="showAppliedToSession(null, LoanApplyObj.loanId)">
                                        <span class="badge badge-primary" i18n>Details</span>
                                    </a>
                                </td>
                            </tr>
                            <tr class="mt-2 text-center no-item">

                                <h5 class="my-4 font-weight-normal" i18n>No Data Found.</h5>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-12">
        <div class="card shadow mb-4">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary" i18n>Paid Loans</h6>

            </div>

            <div class="card-body p-0">
                <div class="table-responsive table-billing-history">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" i18n>Type</th>
                                <th scope="col" i18n>
                                    {{Role.Lender!=authenticationService.currentUserValue.role?'Lender
                                    Name':'Borrower Name'}}
                                </th>
                                <th scope="col" i18n>Amount</th>
                                <th scope="col" i18n>Refund</th>
                                <th scope="col" i18n>Contract</th>
                                <th scope="col" i18n>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let LoanApplyObj of utilityService._.values( allSessionApplyData) | mySessionsFilter : 'status' : ['paid','completed']:checkCreatedByUserId:checkCreatedByT">
                                <td class="text-capitalize">
                                    <span (click)="showAppliedToSession(null, LoanApplyObj.loanId)">
                                        {{(LoanApplyObj.sessionForBorrower.loanType || "").replace("_", " ")}}
                                    </span>
                                </td>
                                <td class="text-capitalize">
                                    <span (click)="usersProfile((LoanApplyObj.lenderId._id!=authenticationService.currentUserValue._id?LoanApplyObj.lenderId:LoanApplyObj.borrowerId))">
                                        {{(LoanApplyObj.lenderId._id!=authenticationService.currentUserValue._id?LoanApplyObj.lenderId.firstName:LoanApplyObj.borrowerId.firstName)}}
                                    </span>
                                    <!--
                                    {{userService.returnUsersObjFromLocal(LoanObj.sessionAppliedByBorrowers,
                                    true,'firstName')}}
                                    -->
                                </td>
                                <td>{{LoanApplyObj.loanAmount || LoanApplyObj.sessionForBorrower.loanAmount}}</td>
                                <td>{{utilityService.returnRoundedNumber((LoanApplyObj.calculatedMonthlyAmountForEMI ||
                                    LoanApplyObj.sessionForBorrower.calculatedMonthlyAmountForEMI) *
                                    LoanApplyObj.sessionForBorrower.loanTenureInMonths)}}</td>
                                <td>
                                    <a class="btn btn-success btn-sm float-left ml-2" i18n target="_blank"
                                        [href]="returnUrl4downloadCOntractPDF(LoanApplyObj._id)" download><i
                                            class="icon-cloud-down"></i>&nbsp;</a>
                                </td>
                                <td>
                                    <a (click)="showAppliedToSession(null, LoanApplyObj.loanId)">
                                        <span class="badge badge-primary" i18n>Details</span>
                                    </a>
                                </td>
                            </tr>
                            <tr class="mt-2 text-center no-item">

                                <h5 class="my-4 font-weight-normal" i18n>No Data Found.</h5>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    <div class="row d-none">
    
        <div class="col-xl-4 col-12">
            <div class="row">
    
                <div class="col-xl-12 col-md-6 mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col text-center border-right">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">My Wallet
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        ${{fundService.totalFund4currentUser}}</div>
                                </div>
    
                                <div class="col text-center">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">My Sessions
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{allSessionsCount}}/{{allSessionsTodayCount}}</div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-xl-12 col-md-6 mb-3">
    
                    <section class="blog-sidebar pt-0">
                        <div class="row pl-0 pr-0">
                            <div class="col-lg-12">
                                 <div>
                                    <h5 class="blog-title">upcoming sessions</h5>
                                    <div class="sidebar-container">
                                        <div *ngFor="let item of utilityService._.values(allSessionsTodayList);" class="post-container d-flex">
                                            <div class="w-35 m-r-25">
                                                <img alt="" class="img-fluid" src="./assets/img/na.png">
                                                <div class="badge badge-blue">
                                                    {{item.location}}
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="post-head">{{item.sessionSubject}}</h5>
                                                <h6 class="date">{{item.loanStartDateTime | date:'medium'}}</h6>
                                                <div class="mt-3">
                                                    <i class="icon-video-camera fa-lg mr-3" (click)="clickedOnSessionChatVideo(item, true)"></i>
                                                    <i class="icon-comment" (click)="clickedOnSessionChatVideo(item, false)"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-2 text-center blog-agency no-item">
                                            <img src="assets/img/noresult.png" style="height: 60px;">
                                            <h5 class="mt-3 font-weight-normal">Looks like you don't have any counselling Session today</h5>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
    
            </div>
    
        </div>
    
        <div class="col-xl-8 col-12">
    
            <section class="agency blog blog-sec blog-sidebar sider p-0">
    
                <div class="h6 mb-3">
    
                    LATEST SESSIONS
                   
                </div>
                <div class="card shadow-sm mb-4" *ngFor="let session of allSessionsData">
                    <div class="bg-white blog-title card-header mb-0 text-capitalize">
                        {{session.sessionSubject}}
                    </div>
                    <div class="card-body px-md-3 px-1 small">
                         <div class="row">               
                        <div class="col-xl-12 col-12">
                            <p class="para2" [class.show_more]="!session._id">
                                {{session.loanDescription}}
                            </p>
                        </div>          
                        <div class="col-xl-6 col-6 border-right mb-2">
                            <i aria-hidden="true" class="icon-timer mr-2"></i> {{session.loanStartDateTime | date:'MMM d, h:mm a'}}
                        </div>
                       
                        <div class="col-xl-6 col-6">
                            <i aria-hidden="true" class="icon-location-pin m-r-10"></i>
                            
                            {{session.location}}
                        </div>
                      
                    </div>
                    </div>
                    <div class="card-footer bg-white">
                        <span class="badge badge-success font-weight-normal text-capitalize btn float-left" >{{session.sessionType}}</span>
                        <a *ngIf="!check4applyToSession(session)" class="btn btn-success  text-capitalize btn-sm float-right text-white" (click)="applyToSession(session)">Apply</a>
                        <a *ngIf="check4applyToSession(session)" class="btn btn-primary text-capitalize btn-sm float-right text-white" (click)="showAppliedToSession(session)"> Details</a>
                    </div>
                </div>
                
                <div *ngIf="!allSessionsData">
                    <div class="content_loader"></div>
                    <div class="content_loader"></div>
                </div>
    
            </section>
        </div>
    </div>
    -->