<div id="frame" class="mt-md-n4 message_frame">
    <div id="sidepanel">
        <div id="profile">

            <h4 class="text-primary">My Loans</h4>
            <div class="wrap avittiNone">
                <img id="profile-img" src="/assets/img/user-default.png" default="" class="online" alt="" />
                <p class="mt-2"> {{currentUser.firstName | titlecase}}</p>
                <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
            </div>
        </div>
        <div class="d-none" id="search">
            <label for=""><i class="icon-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts" class="mt-3">
            <ul>
                <li class="contact" *ngFor="let currentContactItem of myContactsList | orderBy: ['-updatedOn']" [ngClass]="{ 'active': (currentContact?._id==currentContactItem?._id) }">
                    <div (click)="setCurrentContact(currentContactItem)" class="wrap" >
                        <div class="d-none" [ngSwitch]="currentContactItem.onlineStatus">
                            <span *ngSwitchCase="online" class="contact-status online"></span>
                            <span *ngSwitchCase="busy" class="contact-status busy"></span>
                            <span *ngSwitchCase="away" class="contact-status away"></span>
                            <span *ngSwitchDefault class="contact-status"></span>
                        </div>

                        <img *ngIf="!currentContactItem.isGroup" src="/assets/img/user-default.png" alt=" " />
                        <img *ngIf="currentContactItem.isGroup" src="/assets/img/users.png" alt=" " />
                        <div class="meta ">
                            <div class="name ">{{currentContactItem.firstName | titlecase}}</div>
                            <div class="small font-weight-light">
                                {{currentContactItem.createdOn | date}}
                                <!-- {{currentContactItem.lastMessage || 'NA'}} -->
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- <div id="bottom-bar">
            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add
                    contact</span></button>
            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
        </div> -->
    </div>
    <div class="content text-center" *ngIf="!currentContact">
        <div class="mt-5 text-center blog-agency no-item">
            <img class="mt-5" src="assets/img/noresult.png">

<!--            
            <h4 class="font-weight-normal">Choose A Session To Start Collaberating</h4> -->
            <h4 class="text-black-50"> Select your loan to start chatting.
            </h4>

        </div>
        <div class="mt-5 d-none">

            <textarea class="form-control" type="text" [(ngModel)]="tts_textarea"></textarea>
            <select class="form-control" #langSelect *ngIf="speechData" (change)="setLanguage(langSelect.value)">
                <option [value]="i" *ngFor="let voice of speechData.voices;let i = index;">
                    {{voice.name}} - {{voice.lang}}
                </option>
            </select>
            <br>
            <i class="icon-microphone-alt" (click)="start()" title="Start"></i>
            <button class="btn btn-xs d-none" (click)="pause()"> pause {{speech.volume}}</button>
            <button class="btn btn-xs d-none" (click)="resume()"> resume </button>

            <button class="btn btn-xs d-none" (click)="speech.volume = speech.volume - 1"> - </button> <button class="btn btn-xs d-none" (click)="speech.volume = speech.volume + 1"> + </button>
        </div>
    </div>
    <div class="content" *ngIf="currentContact">
        <div class="contact-profile shadow-sm">
            <!-- <img src="/assets/img/user-default.png" alt=" " /> -->

            <i class="icon-arrow-left float-left" (click)="goback_to_contacts()"></i>

            <div class="name m-md-3 m-0">{{currentContact.firstName | titlecase}}</div>
            <div class="social-media avittiNone" style="right: 0;top: 3px;position: absolute;">
                <select [(ngModel)]="currentSelectedLanguageCode" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" style="width: 75px;">
                    <option value="" selected>Language</option>
                    <option *ngFor="let language of languageCodes" [ngValue]="language.language">
                        {{language.name}}</option>
                </select>
                <a (click)="joinNewVCSessionWithContact(currentContact._id,currentContact.loanId,currentContact.isGroup)" routerLinkActive="active"> <i class="icon-video-camera fa-lg"></i></a>

                <!-- <i class="icon-comment "></i> -->
            </div>
        </div>
        <div id="chat_messages" class="messages">
            <!--#scrollMe [scrollTop]="scrollMe.scrollHeight"
            $("#chat_messages").animate({
    scrollTop: $("#chat_messages").height()
}, 400)
            -->
            <ul>
                <!--
                <li n class="sent ">
                    <img src="http://emilcarlsson.se/assets/mikeross.png " alt=" " /> 
                    <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
                </li>
                <li class="replies ">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png " alt=" " /> 
                    <p>When you're backed against the wall, break the god damn thing down.</p>
                </li>
            -->
                <!-- | sortArrayByUpdatedOn:['updatedOn']-->
                <li *ngFor="let _chat of allChatListOfRoom; trackBy $index; let i = index" [ngClass]="{ 'replies': _chat.userId == currentUser._id, 'sent': _chat.userId!=currentUser._id }">
                    <!-- <img src="/assets/img/user-default.png" alt=" " /> -->
                    <p>
                        <span id="{{_chat._id}}">
                            {{_chat.message}}
                        </span>
                        <i class="icon-microphone-alt mr-1 avittiNone" (click)="start(_chat.message)" title="Text To Speech"></i> 
                        <i (click)="translateTextInOtherLanguage(_chat.message, currentSelectedLanguageCode, false, _chat._id)" title="Speech To Text" class="icon-flickr-alt avittiNone"></i></p>
                </li>

            </ul>
        </div>
        <div class="message-input">
            <div class="d-none">
                <div *ngIf="voiceActiveSectionDisabled; else voicesection;">
                    <button type="button" (click)="startVoiceRecognition()">Record</button>
                </div>
                <ng-template #voicesection>
                    <ng-container *ngIf="!voiceActiveSectionError; else failure">
                        <ng-container *ngIf="message2send; else start">
                            <!-- <span>{{message2send}}</span> -->
                        </ng-container>
                        <ng-template #start>
                            <ng-container *ngIf="voiceActiveSectionListening; else beginning">
                                <span>Listening...</span>
                            </ng-container>
                            <ng-template #beginning>
                                <span>Start talking...</span>
                            </ng-template>
                        </ng-template>
                    </ng-container>
                    <ng-template #failure>
                        <span>Didn't catch that</span>
                    </ng-template>
                    <div>
                        <button (click)="closeVoiceRecognition()">Close</button>
                        <button (click)="startVoiceRecognition()">Restart</button>
                    </div>
                </ng-template>
            </div>


            <div class="wrap_send_input">
                <!-- <input (keydown.enter)="sendMessage(currentContact._id, message2send)" type="text " placeholder="Write your message... " [(ngModel)]="message2send" />
                
                <button [disabled]="returnTifCurrentContactIsNullOrEmpty(currentContact) " class="submit " (click)="sendMessage(currentContact._id, message2send)">
					<i class="fa fa-paper-plane " aria-hidden="true "></i>
                </button> -->
                <small class="text-danger ml-1 mb-3" *ngIf="message2send && (message2send.includes('skype') || message2send.includes('facebook') || message2send.includes('wechat') || message2send.includes('messenger') || message2send.includes('messenger')|| message2send.includes('@') || message2send.includes('(a)') || message2send.includes('-a-') || message2send.includes('.dk') || message2send.includes('.com') )">Your message cannot have restricted keywords: messenger, facebook, whatsapp, wechat, skype, @,(a), -a-
                   , .com, .dk   
                      </small>
                <div class="input-group input-group-lg shadow-lg mt-1">
                   
                    <input type="text" (keydown.enter)="sendMessage(currentContact._id, message2send)" type="text " placeholder="Write your message... " [(ngModel)]="message2send" class="form-control border-0" placeholder="Start Typing...">
                    <div class="input-group-append">
                        <button class="btn btn-light d-none avittiNone" *ngIf="voiceActiveSectionListening; else beginning" (click)="closeVoiceRecognition()">
                            <span class="small font-weight-light mr-1">Listening...</span> <i
                                class="fas fa-headset"></i>
                        </button>
                        <button *ngIf="!voiceActiveSectionListening" class="btn btn-light avittiNone" (click)="startVoiceRecognition()">
                            <i class="fas icon-microphone fa-lg" aria-hidden="true "></i>
                        </button>


                        <button class="btn btn-link" type="button" [disabled]="!returnTifCurrentContactIsNullOrEmpty(currentContact) && !message2send" (click)="sendMessage(currentContact._id, message2send)">
                            <i class="icon-arrow-right" aria-hidden="true "></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
