<!-- <section class="agency blog blog-sec blog-sidebar sider p-0 mt-4">
    <div class="card shadow-sm mb-4" *ngFor="let LoanMarket of allLoanMarketData">
        <div class="bg-white blog-title card-header mb-0 text-capitalize">
            {{LoanMarket.LoanMarketubject}}
        </div>
        <div class="card-body px-md-3 px-1 small">
             <div class="row">               
            <div class="col-xl-12 col-12">
                <p class="para2" [class.show_more]="!LoanMarket._id">
                    {{LoanMarket.loanAmount}}
                </p>
            </div>          
            <div class="col-xl-6 col-6 border-right mb-2">
                <i aria-hidden="true" class="icon-timer mr-2"></i> {{LoanMarket.loanStartDateTime | date:'MMM d, h:mm a'}}
            </div>
            <div class="col-xl-6 col-6">
                <i aria-hidden="true" class="icon-location-pin m-r-10"></i>
                {{LoanMarket.location}}
            </div>
          
        </div>
        </div>
        <div class="card-footer bg-white">
            <span class="badge badge-success font-weight-normal text-capitalize btn float-left" >{{LoanMarket.LoanMarketType}}</span>
          
            <a class="btn btn-primary text-capitalize  btn-sm float-right text-white" (click)="showAppliedToLoanMarket(LoanMarket)">Details</a>
        </div>
    </div>


    <div class="mt-5 text-center blog-agency no-item">
        <img src="assets/img/noresult.png">
        <h2 class="mt-4 font-weight-normal">No Data Found</h2>
    </div>
</section> -->


<div class="row">
    <div class="col-xl-12 col-12 align-items-stretch">
        <button i18n *ngIf="this.searchFilterObj" class="btn btn-xs btn-danger float-right mb-3 mt-n2 ml-2" (click)="cleanSearchFilter()">
            <i class="icon icon-trash"></i> Reset
        </button>
        <button i18n class="btn btn-xs btn-success float-right mb-3 mt-n2"  (click)="showSearchPanel()"> 
            <i class="icon icon-filter"></i> Filter
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xl-4 col-12 d-flex align-items-stretch mb-4"
        *ngFor="let LoanMarket of allLoanMarketData | sortArrayByUpdatedOn:'loanStartDateTime':true">
       
        <div class="clash-card wizard w-100">
            <div class="product-image" *ngIf="(!returnT4DisableLoanBorrowOrLendIfAlreadyAccepted(LoanMarket) && utilityService.returnTIfSuppliedDateIsNotFromCurrentMonth(LoanMarket.loanStartDateTime)) || (returnT4DisableLoanBorrowOrLendIfAlreadyAccepted(LoanMarket))">
                <span class="onsale-section" *ngIf="returnT4DisableLoanBorrowOrLendIfAlreadyAccepted(LoanMarket)"><span class="onsale" i18n>Contract Signed</span></span>

                <span class="onsale-section"  *ngIf="!returnT4DisableLoanBorrowOrLendIfAlreadyAccepted(LoanMarket) && utilityService.returnTIfSuppliedDateIsNotFromCurrentMonth(LoanMarket.loanStartDateTime)"><span class="onsale" i18n>Cancelled</span></span>
              </div>

             


            <div class="clash-card__level clash-card__level--wizard mt-3">
                <!--{{(LoanMarket.createdByUserObj.userType || "").replace("_", " ")}}-->
                {{authenticationService.returnUserTypeForUserFromSuppliedUserLevel(LoanMarket.createdByUserObj.userType)}}
            </div>
            <div class="clash-card__unit-name text-capitalize">{{(LoanMarket.loanType || "").replace("_", " ")}}</div>
            <div class="clash-card__unit-description">
                <div class="row">
                    <div class="col-xl-4 col-4 border-right" data-toggle="tooltip" title="Created By">
                        <div (click)="usersProfile(LoanMarket.createdByUserObj)">
                            <!--<i class="icon icon-user"></i>-->
                            <span
                                class="flag-icon flag-icon-{{utilityService.returnCountryCodeFromName(LoanMarket.createdByUserObj.country)}} flag-icon-squared"></span>
                        </div>
                        <div class="text-black-50 small">
                            {{LoanMarket.createdByUserObj.firstName}}
                        </div>
                    </div>
                    <div class="col-xl-4 col-4 border-right" data-toggle="tooltip" title="Max Applicants">
                        <div>
                            <i class="icon icon-check-box"></i>
                        </div>
                        <div class="text-black-50 small">
                            {{ _.keys(LoanMarket.sessionAppliedByBorrowers).length || 0}}/{{LoanMarket.loanMaxBorrower}}
                        </div>
                    </div>
                    <div class="col-xl-4 col-4 " data-toggle="tooltip" title="Created On">
                        <div>
                            <i class="icon icon-time"></i>
                        </div>
                        <div class="text-black-50 small">
                            {{LoanMarket.loanStartDateTime | date:'MMM d, yy'}}
                        </div>
                    </div>
                    <div class="col-xl-12 col-12 mt-2">
                        <div class="text-black-50 small mb-1" i18n>
                            Payment Methods
                        </div>

                        <span *ngIf="LoanMarket.loanRepaymentType.indexOf('bank')>-1"
                            class="badge font-weight-light text-uppercase mr-2 badge-success" i18n>
                            BANK
                        </span>
                        <span *ngIf="LoanMarket.loanRepaymentType.indexOf('cash')>-1"
                            class="badge font-weight-light text-uppercase mr-2 badge-success" i18n>
                            Cash
                        </span>
                        <span *ngIf="LoanMarket.loanRepaymentType.indexOf('revolut')>-1"
                            class="badge font-weight-light text-uppercase mr-2 badge-success" i18n>
                            Revolut
                        </span>
                        <span *ngIf="LoanMarket.loanRepaymentType.indexOf('paypal')>-1"
                            class="badge font-weight-light text-uppercase mr-2 badge-success" i18n>
                            Paypal
                        </span>
                        <span *ngIf="LoanMarket.loanRepaymentType.indexOf('skrill')>-1"
                            class="badge font-weight-light text-uppercase badge-success" i18n>
                            Skrill
                        </span>
                    </div>
                </div>
            </div>
            <button
                *ngIf="!returnT4DisableLoanBorrowOrLendIfAlreadyAccepted(LoanMarket) && !utilityService.returnTIfSuppliedDateIsNotFromCurrentMonth(LoanMarket.loanStartDateTime)"
                class="btn btn-success btn-sm mb-2" (click)="navigate2LoanProccess(LoanMarket._id)" i18n>
                Borrow Now
            </button>
            <button
                *ngIf="!returnT4DisableLoanBorrowOrLendIfAlreadyAccepted(LoanMarket) && utilityService.returnTIfSuppliedDateIsNotFromCurrentMonth(LoanMarket.loanStartDateTime)" i18n
                class="btn btn-danger btn-sm mb-2" disabled>
                Cancelled
            </button>
            <button *ngIf="returnT4DisableLoanBorrowOrLendIfAlreadyAccepted(LoanMarket)"
                class="btn btn-primary btn-sm mb-2" i18n><i class="icon icon-check-box"></i>
                Contract Signed
            </button>

            <div class="clash-card__unit-stats clash-card__unit-stats--wizard clearfix">
                <div class="one-third">
                    <div class="stat">{{LoanMarket.loanAmount}}</div>
                    <div class="stat-value" i18n>Amount</div>
                </div>

                <div class="one-third">
                    <div class="stat">
                        {{utilityService.returnRoundedNumber(LoanMarket.calculatedMonthlyAmountForEMI*LoanMarket.loanTenureInMonths)}}
                    </div>
                    <div class="stat-value" i18n>Refund</div>
                </div>

                <div class="one-third no-border">
                    <div class="stat">{{LoanMarket.loanTenureInMonths}} <sub
                            class="month">{{LoanMarket.loanTenureInMonths>1?'Months':'Month'}}</sub></div>
                    <div class="stat-value" i18n>Duration</div>
                </div>

            </div>

        </div>
        <!-- end clash-card goblin-->


    </div>
    <!-- <div class="mt-5 text-center blog-agency no-item">
        <img src="assets/img/noresult.png">
        <h2 class="mt-4 font-weight-normal">No Data Found</h2>
    </div> -->
</div>