<form [formGroup]="bankDetailsForm" class="mb-3">
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold text-primary">Bank Details</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-xl-12">
                    <label for="bankName">Bank Name</label>

                    <input type="text" formControlName="bankName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.bankName.errors }" />
                    <div *ngIf="submitted && f.bankName.errors" class="invalid-feedback">
                        <div *ngIf="f.bankName.errors.required">Bank Name is required</div>
                    </div>
                </div>
                <div class="form-group col-xl-6">
                    <label for="regNumber">Registration Number</label>
                    <input type="text" formControlName="regNumber" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.regNumber.errors }" />
                    <div *ngIf="submitted && f.regNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.regNumber.errors.required">Registration Number is required</div>
                    </div>
                </div>
                <div class="form-group col-xl-6">
                    <label for="accountNumber">Account number</label>
                    <input type="text" formControlName="accountNumber" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.accountNumber.errors }" />
                    <div *ngIf="submitted && f.accountNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.accountNumber.errors.required">Account Number is required</div>
                    </div>
                </div>
                <div class="form-group col-xl-6">
                    <label for="iban">IBAN Number</label>
                    <input type="text" formControlName="iban" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.iban.errors }" />
                    <div *ngIf="submitted && f.iban.errors" class="invalid-feedback">
                        <div *ngIf="f.iban.errors.required">IBAN Number is required</div>
                    </div>
                </div>
                <div class="form-group col-xl-6">
                    <label for="bic">Bank Identifier Code</label>
                    <input type="text" formControlName="bic" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.bic.errors }" />
                    <div *ngIf="submitted && f.bic.errors" class="invalid-feedback">
                        <div *ngIf="f.bic.errors.required">Bank Identifier Code is required</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold text-primary">Online Wallets</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-xl-12">
                    <label for="paypalWalletID">Paypal</label>
                    <input type="text" formControlName="paypalWalletID" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.paypalWalletID.errors }" />
                    <div *ngIf="submitted && f.paypalWalletID.errors" class="invalid-feedback">
                        <div *ngIf="f.paypalWalletID.errors.required">Paypal ID is required</div>
                    </div>

                </div>
                <div class="form-group col-xl-12">
                    <label for="skrillWalletID">Skrill</label>
                    <input type="text" formControlName="skrillWalletID" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.skrillWalletID.errors }" />
                    <div *ngIf="submitted && f.skrillWalletID.errors" class="invalid-feedback">
                        <div *ngIf="f.skrillWalletID.errors.required">Skrill ID is required</div>
                    </div>
                </div>
                <div class="form-group col-xl-12">
                    <label for="revolutWalletID">Revolut</label>
                    <input type="text" formControlName="revolutWalletID" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.revolutWalletID.errors }" />
                    <div *ngIf="submitted && f.revolutWalletID.errors" class="invalid-feedback">
                        <div *ngIf="f.revolutWalletID.errors.required">Revoult ID is required</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold text-primary">Crypto currency</h5>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="form-group col-xl-12">
                    <label for="bitCoinWalletID">Bitcoin Wallet</label>
                    <input type="text" formControlName="bitCoinWalletID" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.bitCoinWalletID.errors }" />
                    <div *ngIf="submitted && f.bitCoinWalletID.errors" class="invalid-feedback">
                        <div *ngIf="f.bitCoinWalletID.errors.required">BicCoin Wallet ID is required</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group text-right">
        <button type="button" (click)="onBankDetailsUpdateSubmit()" [disabled]="loading" class="btn btn-primary ">Update</button>
    </div>
</form>