<!--section start-->
<section class="agency format service-bg" id="home-admin">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-lg-1">
                <div class="center-text">
                    <div class="format-container">
                        <div class="format-head-text">
                            <h2 class="about-font-header">Welcome Admin!<span class="block-span"></span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section end-->