<ul  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion navbar_side_panel" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <img class="img-fluid" src="./assets/img/avitii-logo.png">
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin">
            <i class="icon icon-home"></i>
            <span i18n>Dashboard</span>
            <!--
            <span>&nbsp;{{authenticationService.currentUserValue.lastLoginTime | date:'dd-MMM-YYYY HH:mm'}}</span>
            -->
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Interface
    </div> -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">
            <i class="icon icon-user"></i>
            <span i18n>User Mangement</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/pending-users" routerLinkActive="active">
            <i class="icon icon-user"></i>
            <span i18n>Pending User's</span></a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/admin/add-user" routerLinkActive="active">
            <i class="icon icon-bag"></i>
            <span>Add User</span></a>
    </li> -->
   
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="icon icon-credit-card"></i>
            <span i18n>Transactions</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
               
                <a class="collapse-item" (click)="navigate2State('/admin/payments',{'transactionActionType':TransactionActionType.plan_purchase})" routerLinkActive="active" i18n>Plan Purchase</a>
                <a class="collapse-item" (click)="navigate2State('/admin/payments',{'transactionActionType':TransactionActionType.insurance_purchase})" routerLinkActive="active" i18n>Insurance Purchase</a>
              
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/loan-pay" routerLinkActive="active">
            <i class="icon icon-money"></i>
            <span i18n>Pending Loans</span></a>
    </li>
 

    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/messages" routerLinkActive="active">
            <i class="icon icon-comments"></i>
            <span i18n>Messages</span>
            <span *ngIf="messagesService.returnTotalPendingMessagesForUser()>0" class="badge badge-light float-right font-weight-lighter text-capitalize" i18n> {{messagesService.returnTotalPendingMessagesForUser()}}</span>
        </a>
          
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/user-levels" routerLinkActive="active">
            <i class="icon icon-medall-alt"></i>
            <span i18n>User Levels</span></a>
    </li>

    

    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/blogs" routerLinkActive="active">
            <i class="icon icon-clipboard"></i>
            <span i18n>Blogs</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/customer-review" routerLinkActive="active">
            <i class="icon icon-clipboard"></i>
            <span i18n>Customer Review</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/partners" routerLinkActive="active">
            <i class="icon icon-clipboard"></i>
            <span i18n>Partners</span></a>
    </li>
 
    <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/lender/messages" routerLinkActive="active">
            <i class="icon icon-comments"></i>
            <span>Messages</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link"  routerLink="/lender/messages" routerLinkActive="active">
            <i class="icon icon-calendar"></i>
            <span>Calendar</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link"  routerLink="/lender/messages" routerLinkActive="active">
            <i class="icon icon-star"></i>
            <span>My Ratings</span></a>
    </li> -->

    <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="icon icon-settings"></i>
            <span>Settings</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
             
                <a class="collapse-item" routerLink="/lender/profile">My Profile</a>
                <a class="collapse-item" href="register.html">Change Password</a>
                <a class="collapse-item" href="forgot-password.html">Bank Details</a>
                <a class="collapse-item" href="forgot-password.html">Payment Agreement</a>
               
            </div>
        </div>
    </li> -->

 
    <li class="nav-item">
        <a class="nav-link" routerLink="/logout">
            <i class="icon icon-flickr-alt"></i>
            <span i18n>Logout</span></a>
    </li>

    <!-- Divider -->
    <!-- <hr class="sidebar-divider d-none d-md-block"> -->

    <!-- Sidebar Toggler (Sidebar) -->
    <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->


</ul>

<div class="sidebar_overlay navbar_side_panel btn-back" ></div>




<!-- Nav Start [ngClass]="{'dark position-relative' : (router.url!='/')}"-->
<header id="custom-header-nav" class="ecommerce nav-fix shadow-sm p-0 hide-lg">
    
        <div class="row">
            <div class="col">
                <nav>
                    <div class="responsive-btn ml-1">
                        <a class="toggle-nav"><i aria-hidden="true" class="icon-align-center"></i></a>
                    </div>
                    <a class="logo-light" routerLink="/home">
                        <img class="img-fluid" src="./assets/img/avitii-logo-purple.png"></a>

                    <!-- <div class="navbar navbar_side_panel m-l-auto p-1 btn-back" id="togglebtn">
                     <div class="responsive-btn">
                            <h5 class="btn-back">back</h5>
                        </div> 
                        <ul class="main-menu">
                            <li><a routerLink="/lender">Home</a></li>

                            <li><a routerLink="/lender/search-consulatnt" routerLinkActive="active">Search</a></li>
                            <li><a routerLink="/lender/my-contract" routerLinkActive="active">My Contract</a></li>
                            <li><a routerLink="/lender/make-a-loan" routerLinkActive="active"><i class="icon-plus"></i>
                                    Make a Loan</a></li>

                        </ul>
                    </div> -->
                    <div class="top-header-right mr-1">
                        <ul>

                            <!-- <li class="cart">
                                <a aria-expanded="false" routerLink="/lender/messages" routerLinkActive="active">
                                    <i class="icon-comment-alt"></i>
                                </a>

                            </li>
                            <li class="cart">
                                <a aria-expanded="false" data-toggle="dropdown" href="#" id="dropdownMenuButton1">
                                    <i class="icon-bell bell"></i>
                                    <span *ngIf="(utilityService._.keys(notificationService.appNotifications).length)>0"
                                        class="badge badge-primary bell-count"
                                        [textContent]="utilityService._.keys(notificationService.appNotifications).length"></span>
                                </a>
                                <div aria-labelledby="dropdownMenuButton1" class="dropdown-menu dropdown-menu-right"
                                    x-placement="bottom-end"
                                    style="position: absolute; transform: translate3d(46px, 47px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <ul class="shopping-cart list-group list-group-flush">
                                        <li class="list-group-item"
                                            *ngFor="let notification of utilityService._.values(notificationService.appNotifications)">
                                            <div class="pb-2">
                                                <div class="mb-1">{{notification.message}}&nbsp;<a
                                                        class="float-lg-right font-large text-danger"
                                                        (click)="notificationService.check4Notification(notification)"><i
                                                            class="icon-close" style="font-size: 0.6rem;"></i></a></div>
                                                <div class="font-weight-light small mb-1">{{notification.description}}
                                                </div>
                                            </div>
                                        </li>


                                        <li class="no-item text-center">
                                            <h4 class="my-4 font-weight-normal">No Notifications</h4>
                                        </li>
                                    </ul>
                                </div>
                            </li> -->
                            <li class="cart">
                                <a aria-expanded="false" data-toggle="dropdown"  id="dropdownMenuButton1">
                                    <!-- <img class="userimg mt-n2" src="./assets/img/user-default.png"> -->
                                    <i class="icon icon-user"></i>
                                </a>
                                <div aria-labelledby="dropdownMenuButton1" class="dropdown-menu dropdown-menu-right"
                                    x-placement="bottom-end"
                                    style="position: absolute; transform: translate3d(46px, 47px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <ul class="shopping-cart">
                                        <li>
                                            <a class="h6 d-block" routerLink="/lender">
                                                {{currentUser.firstName}}
                                                <span class="badge badge-primary float-right"
                                                    [textContent]="currentUser.role" i18n> Borrower</span>
                                            </a>
                                        </li>

                                        <!-- <li>
                                            <a class="d-block" routerLink="/lender/wallet">Wallet
                                                <span
                                                    class="badge badge-success float-right">${{fundService.totalFund4currentUser}}</span>
                                            </a>
                                        </li> -->
                                        <li><a routerLink="/lender/profile" i18n>Profile</a></li>
                                        <hr>
                                        <li>
                                            <a routerLink="/logout" i18n>Logout</a>
                                        </li>
                                    </ul>
                                </div>

                            </li>
                        </ul>
                    </div>
                    
                    <div class="sidebar_overlay navbar_side_panel btn-back" style="display: none;"></div>
                </nav>
            </div>
        </div>
   
</header>
<!-- Nav end-->