<div class="row">
    <div class="col-xl-12">
        <i class="icon-close float-right" mat-button mat-dialog-close></i>
    </div>
</div>
<div class="row" [ngSwitch]="mimeType">
    <!-- the same view can be shown in more than one case -->
    <div class="col-xl-12" *ngSwitchCase="MediaTypes.video">
    </div>
    <div class="col-xl-12" *ngSwitchCase="MediaTypes.audio">
    </div>
    <div class="col-xl-12" *ngSwitchCase="MediaTypes.image">
        <img class="img-fluid" [src]="mediaSrc" width="90%" height="90%" />
    </div>
    <div class="col-xl-12" *ngSwitchDefault>
        <img class="img-fluid" [src]="mediaSrc" width="90%" height="90%" />
    </div>
</div>