<app-header></app-header>
<section class="resume schedule pt-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cal-time">
                    <div class="time">
                        <h2 class="title-text pt-1">FAQs</h2>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- faq section -->
<section class="saas1 faq testimonial-bg" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="faq-block">
                    <div>
                        <h3 class="frequent-text">Frequently Asked Questions</h3>
                        <h6>Our users are impatient. They're probably distracted too. Keep it simple and beautiful, fun
                            and
                            functional. Clean aesthetics supported by a strong concept is what we stand for.</h6>
                        <div class="accordion faq" id="accordionExample">

                            <ul class="nav nav-tabs nav-justified my-4">
                                <li class="nav-item">
                                  <a class="nav-link active" data-toggle="tab" href="#general-faqs">General questions</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#borrower-faqs">For Borrowers</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#lender-faqs">For Lenders</a>
                                </li>
                              </ul>
                              
                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div class="tab-pane container active" id="general-faqs">
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse1"
                                             data-toggle="collapse"
                                             role="heading" i18n>
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            How much can I borrow?
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse1">
                                            <div class="card-body" i18n>
                                                Once you have created your profile as a borrower, you can fill in your expenses and income within the budget section. Based on these figures, the system tells you how much money you can afford to borrow from us.
        
        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse2"
                                             data-toggle="collapse"
                                             role="heading" i18n>
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            Can I repay my loan early?
        
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse2">
                                            <div class="card-body" i18n>
                                                You can always pay off your loans earlier and even get a smaller discount if you choose this option.
        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse3"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            Does the lender offer refinancing?
        
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse3">
                                            <div class="card-body">
                                                Many lenders choose to keep the same lenders. If their terms are good, one can always borrow from the same lender again.
        
                                            </div>
                                        </div>
                                    </div>
                               
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse4"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            When should I apply?
        
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse4">
                                            <div class="card-body">
                                                You can always apply for money on the website as long as you have no debt, but the payment date will always be the next payment date.
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane container fade" id="borrower-faqs">
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse5"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            Can anyone become a borrower on avitii?
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse5">
                                            <div class="card-body">
                                                All it takes to become a borrower, is your ability to solve problems in a given domain in addition to having the heart of a good teacher (the ability to explain how problems are solved)
        
        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse6"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            You need to sign up to borrow money?
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse6">
                                            <div class="card-body">
                                                Once you have created your profile and filled it out, you can apply for money. Remember to fill it all out to be able to get the best deals, the more you tell about yourself, the cheaper loans you can apply for.
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse7"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            What types of loans can one apply for?
        
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse7">
                                            <div class="card-body">
                                                You can search for different loans on the website. You can choose to make your own application or you can search for money on a lender application. We have divided them into several groups such as normal loans, business loans, investment loans, etc.
        
        
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse8"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            Why should I use Avitii lending?
        
        
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse8">
                                            <div class="card-body">
                                                Avitii-lending offers an alternative to other loan options, here you have the opportunity to borrow from individuals and companies. Avitii offers a platform that is open to everyone and can be used by everyone.
        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse9"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            What is the interest rate?
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse9">
                                            <div class="card-body">
                                                Avitii-lending works to ensure that there is freedom to enter into the agreements that you want, so as a borrower, you need to look for the lender who has the best terms to get the best loans. We do not interfere in the agreements between two partners, but we set some guidelines that everyone must follow to provide the best possible security.
        
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse9"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            How do I repay my loan?
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse9">
                                            <div class="card-body">
                                                Once you have taken out a loan on the website, you sign a contract with the lender, this agreement is binding and can be used in court if the agreement is not kept. 1-3 days before the payment date, you will receive an e-mail or text message with instructions on how and which account you should pay your loan to. Avitii-lending does not receive or borrow money, everything goes between the users of the website.
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse9"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            How much should I apply for?
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse9">
                                            <div class="card-body">
                                                The system is locked into the budget section and therefore depends on your income. We have developed a system to help people borrow money, while at the same time not being able to borrow more than you can afford.
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse9"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            How quickly is my loan financed?
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse9">
                                            <div class="card-body">
                                                Avitii-lending does not lend money on the website, everything goes between private individuals, so it depends a lot on when the borrower has time, how much they have filled out their profile, which makes it easier for a lender to make a quick decision. But it also depends on how much time a lender invests in this business.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane container fade" id="lender-faqs">
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse9"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            You need to sign up to lend money?
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse9">
                                            <div class="card-body">
                                                Once you have created your profile and filled it out, you can borrow money. Once you have completed your profile, choose which package solution is best for you as a lender. The larger package you choose, the more information you have available when deciding who to lend. This can ensure you a better basis for your choices and secure your money as an investment
                                            </div>
                                        </div>
                                    </div>
        
        
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse9"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            What types of loans can I make?
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse9">
                                            <div class="card-body">
                                                You can make various loans on the website. On the website you can make a lender application. We have divided them into several groups such as normal loans, business loans, investment loans, etc.
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse9"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            Why should I use Avitii lending?
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse9">
                                            <div class="card-body">
                                                Avitii-lending offers an alternative to other loan options, here you have the opportunity to lend to individuals and companies. Avitii offers a platform that is open to everyone and can be used by everyone.
                                            </div>
                                        </div>
                                    </div>
        
        
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse9"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            What is the interest rate?
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse9">
                                            <div class="card-body">
                                                Avitii-lending works to ensure that there is freedom to enter into the agreements that you want, so as a lender, you need to look for the borrower who has the best terms to get the best loans. We do not interfere in the agreements between two partners, but we set some guidelines that everyone must follow to provide the best possible security.
                                            </div>
                                        </div>
                                    </div>
        
        
                                    <div class="card">
                                        <div aria-expanded="false" class="card-header collapsed" data-target="#collapse9"
                                             data-toggle="collapse"
                                             role="heading">
                                            <a>
                                                <div class="icon icon-angle-right rotate"></div>
                                            </a>
                                            How do you get your loans repaid?
                                        </div>
                                        <div class="collapse" data-parent="#accordionExample" id="collapse9">
                                            <div class="card-body">
                                                Once you have given a loan on the site, you sign a contract with the borrower. This agreement is binding and can be used in court if the agreement is not kept. 1-3 days before the payment date, the system sends an e-mail or text message with instructions on how and to which account the borrower should pay your loan. Avitii-lending does not receive or borrow money, everything goes between the users of the website, so they must therefore pay directly to your account as a lender.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>

                          

                           

                        </div>
                        <h6 class="link">If you can not find answers to your questions contacts us through <a>support@avitii-lending.com</a> or     
                            Submit enquiry through Contact us. </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="faq-img-block">
                    <img alt="faq-person" class="img-fluid" src="/assets/img/faq-img.png">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end faq section -->


<app-footer></app-footer>