<h2 mat-dialog-title class="text-primary">
    <div class="row">
        <div class="col-xl-11 col-10">
            <h4 class="text-black-50" i18n>
                Lenders Requests for {{utilityService.returnLoanType(LoanObj.loanType)}} of kr {{LoanObj.loanAmount}}
            </h4>
        </div>
        <div class="col-xl-1 col-2">
            <i class="icon-close float-right" mat-button (click)="closeDialog(null, null)"></i>
        </div>
    </div>
</h2>

<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-xl-12">
            <div id="accordion">
                <div class="card shadow-sm mb-3" *ngFor="let LoanApplyObj of LoanObj.sessionAppliedByBorrowers | mySessionsFilter : 'status' : (SessionStatusTypeFilter.length>0 ? SessionStatusTypeFilter:['accepted']):null:null:null;">
                    <div class="card-header">
                        <span (click)="usersProfile(LoanApplyObj.lenderId)">{{LoanApplyObj.lenderId.firstName}}</span>
                        <span class="badge badge-info mx-2 cursor-pointer" i18n (click)="usersProfile(LoanApplyObj.lenderId)">View Profile</span>
                        <!--userService.returnUsersObjFromLocal(LoanObj.sessionAppliedByBorrowers, true, null, LoanApplyObj.lenderId._id)-->
                        <a class="collapsed card-link" data-toggle="collapse"
                            [attr.href]="'#collapse_' + LoanApplyObj.borrowerId._id">
                           
                          
                            <label class="badge font-weight-light text-capitalize text-cap"
                                [ngClass]="{'badge-success': (LoanApplyObj.status==SessionStatus.Accepted || LoanApplyObj.status==SessionStatus.Active || LoanApplyObj.status==SessionStatus.Completed || LoanApplyObj.status==SessionStatus.OngoingInitiated  || LoanApplyObj.status==SessionStatus.AwaitingForApproval  || LoanApplyObj.status==SessionStatus.Ongoing), 'badge-danger': (LoanApplyObj.status==SessionStatus.Rejected || LoanApplyObj.status==SessionStatus.RejectedOngoing || LoanApplyObj.status==SessionStatus.Suspended), 'badge-info': ( LoanApplyObj.status==null || LoanApplyObj.status=='' || LoanApplyObj.status==SessionStatus.Pending)}">{{
                                utilityService.returnStringWithReplacing_(LoanApplyObj.status || SessionStatus.Pending)
                                | titlecase }}</label>
                            <label class="badge badge-warning text-capitalize text-cap ml-2">
                                Loan Number: {{LoanApplyObj.loanApplyNumber}}
                            </label>
                        </a>

                        <a class="collapsed card-link cursor-pointer float-right" data-toggle="collapse"
                        [attr.href]="'#collapse_' + LoanApplyObj.borrowerId._id" i18n>
                        <i class="icon-arrow-circle-down"></i>
                    </a>
                    </div>
                    <div [attr.id]="'collapse_' + LoanApplyObj.borrowerId._id" class="collapse"
                        data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6 col-12">
                                    <h3 i18n>Bank Details</h3>

                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item"> <strong>Bank Name</strong>
                                                    {{LoanApplyObj.lenderId.bankName}}
                                                    <!--{{userService.returnUsersObjFromLocal(LoanObj.sessionAppliedByBorrowers,
                                                        true,'bankName', LoanApplyObj.lenderId._id) | titlecase}}-->
                                                </li>
                                                <li class="list-group-item"> <strong>Registration Number</strong>
                                                    {{LoanApplyObj.lenderId.regNumber}}
                                                    <!--{{userService.returnUsersObjFromLocal(LoanObj.sessionAppliedByBorrowers,
                                                        true,'regNumber', LoanApplyObj.lenderId._id)}}-->
                                                </li>
                                                <li class="list-group-item"> <strong>Account number</strong>
                                                    {{LoanApplyObj.lenderId.accountNumber}}
                                                    <!--{{userService.returnUsersObjFromLocal(LoanObj.sessionAppliedByBorrowers,
                                                        true,'accountNumber', LoanApplyObj.lenderId._id)}}-->
                                                </li>
                                                <li class="list-group-item"> <strong>IBAN Number</strong>
                                                    {{LoanApplyObj.lenderId.iban}}
                                                    <!--{{userService.returnUsersObjFromLocal(LoanObj.sessionAppliedByBorrowers,
                                                        true,'iban', LoanApplyObj.lenderId._id)}}-->
                                                </li>
                                                <li class="list-group-item"> <strong>Bank Identifier Code</strong>
                                                    {{LoanApplyObj.lenderId.bic}}
                                                    <!--{{userService.returnUsersObjFromLocal(LoanObj.sessionAppliedByBorrowers,
                                                        true,'bic', LoanApplyObj.lenderId._id)}}-->
                                                </li>
                                               
                                            </ul>
                                        
                                </div>
                                <div class="col-xl-6 col-12">
                                    <h3 i18n>Other Payment Details</h3>

                                            <ul class="list-group list-group-flush">
                                              
                                               
                                                <li class="list-group-item"> <strong>Paypal</strong>
                                                    {{LoanApplyObj.lenderId.paypalWalletID}}
                                                    <!--{{userService.returnUsersObjFromLocal(LoanObj.sessionAppliedByBorrowers,
                                                        true,'paypalWalletID', LoanApplyObj.lenderId._id)}}-->
                                                </li>
                                                <li class="list-group-item"> <strong>Skrill</strong>
                                                    {{LoanApplyObj.lenderId.skrillWalletID}}
                                                    <!--{{userService.returnUsersObjFromLocal(LoanObj.sessionAppliedByBorrowers,
                                                        true,'skrillWalletID', LoanApplyObj.lenderId._id)}}-->
                                                </li>
                                                <li class="list-group-item"> <strong>Revolut</strong>
                                                    {{LoanApplyObj.lenderId.revolutWalletID}}
                                                    <!--{{userService.returnUsersObjFromLocal(LoanObj.sessionAppliedByBorrowers,
                                                        true,'revolutWalletID', LoanApplyObj.lenderId._id)}}-->
                                                </li>
                                                <li class="list-group-item"> <strong>Bitcoin Wallet</strong>
                                                    {{LoanApplyObj.lenderId.bitCoinWalletID}}
                                                    <!--
                                                    {{userService.returnUsersObjFromLocal(LoanObj.sessionAppliedByBorrowers,
                                                        true,'bitCoinWalletID', LoanApplyObj.lenderId._id)}}
                                                        -->
                                                </li>
                                            </ul>
                                        
                                </div>
                                <div class="col-xl-12 col-12">
                                    <div class="alert alert-success" i18n>
                                       You can use these payment methods to transfer the payment.
                                      </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-6 col-12" *ngIf="LoanApplyObj.proposedLoanAmount">
                                    <h3 class="text-primary">New Proposed Amount: <badge class="badge badge-primary">
                                            {{LoanApplyObj.proposedLoanAmount || 'NA'}}</badge>
                                    </h3>
                                </div>
                                <div class="col-xl-6 col-12" *ngIf="LoanApplyObj.loanInsuranceRequired">
                                    <h5  class="card-title float-right" i18n>Applied for Insurance with Amount: <badge
                                            class="badge badge-primary">
                                            {{LoanApplyObj.loanInsuranceAmount || 'NA'}}</badge>
                                    </h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-6 col-12" *ngIf="LoanApplyObj.isLoanAmountPaidByLender">
                                    <div class="card bg-gradient-primary mb-3 text-white shadow">
                                        <div class="card-body dashobard-card p-2">
                                            <div class="text-xs font-weight-bold mb-3" i18n>
                                                Lender Payment Confirmation</div>
                                                <hr>
                                                <div class="row" >
                                                    <div class="col-xl-3 col-12">
                                                        <div class="form-group">
                                                            <label for="transactionIdForLoanAmountPaidByLender" i18n>Transaction ID/Payment
                                                                Ref. ID</label>
                                                            <h4 i18n>
                                                                {{LoanApplyObj.transactionIdForLoanAmountPaidByLender}}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-12">
                                                        <div class="form-group">
                                                            <label for="transactionOnForLoanAmountPaidByLender" i18n>Transaction
                                                                Date</label>
                                                            <h4  >
                                                                {{LoanApplyObj.transactionOnForLoanAmountPaidByLender | date:'dd-MMM-YYYY'}}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-12">
                                                        <div class="form-group">
                                                            <label for="createdOnForLoanAmountPaidByLender" i18n>Updated On</label>
                                                            <h4  >
                                                                {{LoanApplyObj.createdOnForLoanAmountPaidByLender | date:'dd-MMM-YYYY'}}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-3 col-12">
                                                        <p class="mb-2 text-white" for="transactionDescriptionForLoanAmountPaidByLender" i18n>
                                                            Description:</p>
                                                        <div class="text-white" >
                                                            {{LoanApplyObj.transactionDescriptionForLoanAmountPaidByLender}}
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xl-6 col-12"  *ngIf="LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower">
                                    <div class="card bg-success text-white shadow mb-4">
                                        <div class="card-body dashobard-card p-2">
                                            <div class="text-xs font-weight-bold  mb-2" i18n>
                                                Borrower's Payment confirmation</div>
                                                <hr>
                                                <div class="row">

                                                    <div class="col-xl-4 col-12">
                                                        <div class="form-group">
                                                            <label for="transactionOnForLoanAmountPaidByLenderConfirmByBorrower"
                                                                i18n>Transaction
                                                                Date</label>
                                                            <h4  >
                                                                {{LoanApplyObj.transactionOnForLoanAmountPaidByLenderConfirmByBorrower |
                                                                date:'dd-MMM-YYYY'}}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-12">
                                                        <div class="form-group">
                                                            <label for="createdOnForLoanAmountPaidByLender" i18n>Updated On</label>
                                                            <h4 >
                                                                {{LoanApplyObj.createdOnForLoanAmountPaidByLenderConfirmByBorrower |
                                                                date:'dd-MMM-YYYY'}}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-12">
                                                        <p class="mb-2 text-white"
                                                            for="transactionDescriptionForLoanAmountPaidByLenderConfirmByBorrower" i18n>
                                                            Description:</p>
                                                        <div class="text-white">
                                                            {{LoanApplyObj.transactionDescriptionForLoanAmountPaidByLenderConfirmByBorrower}}
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                  
                                </div>

                            </div>
                           
                            
                            <div class="row" *ngIf="!LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower && LoanApplyObj.isLoanAmountPaidByLender && returnSessionApplyStatus(LoanApplyObj)==SessionStatus.Accepted && LoanApplyObj.borrowerId._id==authenticationService.currentUserValue._id">
                                <div class="col-xl-12">
                                    <div class="card shadow mb-4">
                                        <div class="card-header">
                                          
                                                <div class="form-group mb-0">
                                                    <div class="form-check-inline">
                                                        <div class="custom-control custom-checkbox">
                                                            <input [disabled]="true"
                                                                [(ngModel)]="LoanApplyObjCurrent.isLoanAmountPaidByLenderConfirmByBorrower"
                                                                name="isLoanAmountPaidByLenderConfirmByBorrower"
                                                                id="isLoanAmountPaidByLenderConfirmByBorrower" type="checkbox"
                                                                class="custom-control-input" [value]="true"
                                                                [checked]="LoanApplyObjCurrent.isLoanAmountPaidByLenderConfirmByBorrower">
                                                            <label for="isLoanAmountPaidByLenderConfirmByBorrower"
                                                                class="custom-control-label" i18n>
                                                                Is Loan Amount Received </label>
                                                        </div>
                                                    </div>
                                                </div>
                                           
                                        </div>
                                        <div class="card-body">
                                            <div class="row"
                                            >
                                            
                                            <div class="col-xl-4 col-12">
                                                <div class="form-group">
            
                                                    <label for="transactionOnForLoanAmountPaidByLenderConfirmByBorrowerCustomised"
                                                        i18n>
                                                        Payment Credit Date
                                                    </label>
                                                    <input type="date"
                                                        [(ngModel)]="transactionOnForLoanAmountPaidByLenderConfirmByBorrowerCustomised"
                                                        class="form-control" />
            
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-12">
                                                <div class="form-group">
                                                    <label for="usr" i18n>Transaction Description</label>
                                                    <input type="transactionDescriptionForLoanAmountPaidByLenderConfirmByBorrower"
                                                        class="form-control" placeholder="Description"
                                                        [(ngModel)]="LoanApplyObjCurrent.transactionDescriptionForLoanAmountPaidByLenderConfirmByBorrower">
                                                </div>
                                            </div>
                                           
                                            <div class="col-xl-2 col-12">
                                                <button class="btn btn-primary btn-sm float-right mt-4"
                                                    (click)="paymentDoneByLenderConfirmByBorrower(LoanApplyObj)" i18n>
                                                   Update
                                                </button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="installment_deatils_modal">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                  <div class="modal-content">
                                
                                    <div class="modal-header">
                                      <h4 class="modal-title" i18n>Installment Details</h4>
                                      <button type="button" class="close" data-dismiss="modal" (click)="LoanApplyObjCurrent4Installment={};">&times;</button>
                                    </div>
                                    
                                  
                                    <div class="modal-body">
                                        <div class="row" *ngIf="LoanApplyObjCurrent4Installment.createdOnForLoanAmountPaidToLender">
                                            <div class="col-xl-4 col-12">
                                                <div class="form-group border-right">
                                                    <label for="installmentKey" i18n>Installment For</label>
                                                    <h4 class="text-primary" >
                                                        {{LoanApplyObjCurrent4Installment.installmentKey}}
                                                        <label *ngIf="LoanApplyObjCurrent4Installment.isInstallmentPaidByAdmin" class="badge badge-warning text-capitalize text-cap float-right" i18n>
                                                            Paid By Admin
                                                        </label>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-12">
                                                <div class="form-group border-right">
                                                    <label for="transactionIdForLoanAmountPaidToLender" i18n>Transaction ID/Payment
                                                        Ref.
                                                        ID</label>
                                                    <h4 class="text-primary" >
                                                        {{LoanApplyObjCurrent4Installment.transactionIdForLoanAmountPaidToLender}}
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-12">
                                                <div class="form-group border-right">
                                                    <label for="transactionOnForLoanAmountPaidToLender" i18n>Transaction
                                                        Date</label>
                                                    <h4 class="text-primary" >
                                                        {{LoanApplyObjCurrent4Installment.transactionOnForLoanAmountPaidToLender |
                                                        date:'dd-MMM-YYYY'}}
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-12">
                                                <div class="form-group border-right">
                                                    <label for="createdOnForLoanAmountPaidToLender" i18n>Updated On</label>
                                                    <h4 class="text-primary" >
                                                        {{LoanApplyObjCurrent4Installment.createdOnForLoanAmountPaidToLender |
                                                        date:'dd-MMM-YYYY'}}
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-12">
                                                <p class="mb-2" for="transactionDescriptionForLoanAmountPaidToLender" i18n>
                                                    Note:</p>
                                                <div class="text-black-50" >
                                                    {{LoanApplyObjCurrent4Installment.transactionDescriptionForLoanAmountPaidToLender}}
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-12">
                                                <div class="form-group border-right">
                                                    <label for="transactionOnForLoanAmountPaidToLenderConfirmByLender"
                                                        i18n>Confirmation: Transaction Date</label>
                                                    <h4 class="text-primary" >
                                                        {{LoanApplyObjCurrent4Installment.transactionOnForLoanAmountPaidToLenderConfirmByLender
                                                        |
                                                        date:'dd-MMM-YYYY'}}
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-12">
                                                <div class="form-group border-right">
                                                    <label for="createdOnForLoanAmountPaidToLenderConfirmByLender"
                                                        i18n>Confirmation: Updated On</label>
                                                    <h4 class="text-primary" >
                                                        {{LoanApplyObjCurrent4Installment.createdOnForLoanAmountPaidToLenderConfirmByLender
                                                        |
                                                        date:'dd-MMM-YYYY'}}
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-12">
                                                <p class="mb-2" for="transactionDescriptionForLoanAmountPaidToLenderConfirmByLender"
                                                    i18n>
                                                    Confirmation: Note:</p>
                                                <div class="text-black-50" >
                                                    {{LoanApplyObjCurrent4Installment.transactionDescriptionForLoanAmountPaidToLenderConfirmByLender}}
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    
                                 
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" (click)="LoanApplyObjCurrent4Installment={};" data-dismiss="modal" i18n>Close</button>
                                    </div>
                                    
                                  </div>
                                </div>
                              </div>
                           

                            <div class="row"
                                *ngIf="!LoanApplyObj.isLoanAmountPaidByBorrower && LoanApplyObjCurrent4Installment.installmentKey && !LoanApplyObjCurrent4Installment.createdOnForLoanAmountPaidToLender && ((returnSessionApplyStatus(LoanApplyObj)==SessionStatus.Accepted  && LoanApplyObj.borrowerId._id==authenticationService.currentUserValue._id) || (returnSessionApplyStatus(LoanApplyObj)==SessionStatus.Unpaid && authenticationService.currentUserValue.role == Role.Admin))">
                                <div class="col-xl-4 col-12">
                                    <div class="form-group border-right">
                                        <label for="installmentKey" i18n>Installment For</label>
                                        <h4 class="text-primary" >
                                            {{LoanApplyObjCurrent4Installment.installmentKey}}
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-12">
                                    <div class="form-group">
                                        <label for="transactionIdForLoanAmountPaidToLender" i18n>TransactionId/Payment
                                            Ref. ID</label>
                                        <input type="text" class="form-control"
                                            placeholder="TransactionId/Payment Ref. ID"
                                            [(ngModel)]="LoanApplyObjCurrent4Installment.transactionIdForLoanAmountPaidToLender">
                                    </div>
                                </div>
                                <div class="col-xl-4 col-12">
                                    <div class="form-group">

                                        <label for="transactionOnForLoanAmountPaidToLenderCustomised" i18n>
                                            Transaction Date
                                        </label>
                                        <input type="date"
                                            [(ngModel)]="transactionOnForLoanAmountPaidToLenderCustomised"
                                            class="form-control" />

                                    </div>
                                </div>
                                <div class="col-xl-12 col-12">
                                    <div class="form-group">
                                        <label for="transactionDescriptionForLoanAmountPaidToLender" i18n>Note.</label>
                                        <input type="transactionDescriptionForLoanAmountPaidToLender"
                                            class="form-control" placeholder="Description"
                                            [(ngModel)]="LoanApplyObjCurrent4Installment.transactionDescriptionForLoanAmountPaidToLender">
                                    </div>
                                </div>
                                <br>
                                <hr>
                                <div class="col-xl-12 col-12">
                                    <button class="btn btn-primary btn-sm float-right"
                                        (click)="paymentDoneToLender(LoanApplyObj)" i18n>
                                       Update
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-12 mt-3">
                                    <div class="table-responsive table shadow-sm">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col" i18n>EMI Date</th>
                                                    <th scope="col" i18n>Payment</th>
                                                    <th *ngIf="returnSessionApplyStatus(LoanApplyObj)==SessionStatus.Accepted || (returnSessionApplyStatus(LoanApplyObj)==SessionStatus.Unpaid && authenticationService.currentUserValue.role == Role.Admin && LoanApplyObj.loanInsuranceRequired)"
                                                        scope="col" i18n>
                                                        <!-- && LoanApplyObj.borrowerId._id==authenticationService.currentUserValue._id-->
                                                        Payment Status
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let in of utilityService.counter(LoanObj.loanTenureInMonths) ;let i = index">
                                                    <td>{{utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1)
                                                        | date:'dd-MMM-YYYY'}}</td>
                                                    <td *ngIf="(!LoanApplyObj.calculatedMonthlyAmountForEMI) || (LoanApplyObj.calculatedMonthlyAmountForEMI==LoanObj.calculatedMonthlyAmountForEMI)">kr
                                                        {{LoanObj.calculatedMonthlyAmountForEMI}}
                                                    </td>
                                                    <td *ngIf="(LoanApplyObj.calculatedMonthlyAmountForEMI) && (LoanApplyObj.calculatedMonthlyAmountForEMI!=LoanObj.calculatedMonthlyAmountForEMI)">kr
                                                        <span
                                                            style="-webkit-text-decoration-line: line-through;text-decoration-line: line-through;">
                                                            {{LoanObj.calculatedMonthlyAmountForEMI}}
                                                        </span>
                                                        &nbsp;
                                                        <span>
                                                            {{LoanApplyObj.calculatedMonthlyAmountForEMI}}
                                                        </span>
                                                    </td>
                                                    <td
                                                        *ngIf="returnSessionApplyStatus(LoanApplyObj)==SessionStatus.Accepted">
                                                        <!--&& LoanApplyObj.borrowerId._id==authenticationService.currentUserValue._id-->
                                                        <div
                                                            *ngIf="!returnT4IfCurrentInstallmentAlreadyPaid(LoanApplyObj, utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1),('isLoanAmountPaidByBorrower_isEnable'+i)) && (LoanApplyObj.borrowerId._id==authenticationService.currentUserValue._id)">
                                                            <div class="form-check-inline d-none blocked4bypass">
                                                                <div class="custom-control custom-checkbox">
                                                                    <!--[disabled]="LoanApplyObjCurrentCheckBoxes.visibleKeys['isLoanAmountPaidByBorrower_isEnable'+i]"-->
                                                                    <input [disabled]="true"
                                                                        [(ngModel)]="LoanApplyObjCurrentCheckBoxes['isLoanAmountPaidByBorrower_'+i]"
                                                                        name="isLoanAmountPaidByBorrower"
                                                                        id="isLoanAmountPaidByBorrower_{{i}}"
                                                                        type="checkbox" class="custom-control-input"
                                                                        [value]="true"
                                                                        (change)="initiateLoanAmountPaidByBorrower($event, LoanApplyObj, utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1),('isLoanAmountPaidByBorrower_'+i))"
                                                                        [checked]="LoanApplyObjCurrentCheckBoxes['isLoanAmountPaidByBorrower_'+i]"
                                                                        [disabled]="!LoanApplyObj.isLoanAmountPaidByLenderConfirmByBorrower"
                                                                        >
                                                                    <label for="isLoanAmountPaidByBorrower_{{i}}"
                                                                        class="custom-control-label" i18n>
                                                                        Is Amount Transfered? </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-check-inline">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input [disabled]="true" name="isLoanAmountPaidByBorrower"
                                                                        id="isLoanAmountPaidByBorrower" type="checkbox"
                                                                        class="custom-control-input" [value]="true"
                                                                        (change)="LoanMoneyTransferStatusChange($event, LoanObj, LoanApplyObj, utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1))"
                                                                        [checked]="LoanApplyObj.isLoanAmountPaidByBorrower">
                                                                    <label for="isLoanAmountPaidByBorrower"
                                                                        class="custom-control-label" i18n>
                                                                        Installment Money Transfered
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            *ngIf="returnT4IfCurrentInstallmentAlreadyPaid(LoanApplyObj, utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1),('isLoanAmountPaidByBorrower_isEnable'+i)) && (
                                                                (LoanApplyObj.borrowerId._id==authenticationService.currentUserValue._id) || (returnT4IfCurrentInstallmentAlreadyPaidConfirmByLender(LoanApplyObj, utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1),('isLoanAmountPaidByBorrower_isEnable'+i)) && LoanApplyObj.lenderId._id==authenticationService.currentUserValue._id) || (authenticationService.currentUserValue.role == Role.Admin))">
                                                            <i class="icon-check"></i>&nbsp;
                                                            Paid{{returnT4IfCurrentInstallmentAlreadyPaidConfirmByLender(LoanApplyObj,
                                                            utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1),('isLoanAmountPaidByBorrower_isEnable'+i))?'
                                                            & Verified':''}}
                                                            &nbsp;<i class="icon-eye"
                                                                (click)="viewCurrentInstallmentAlreadyPaid(LoanApplyObj, utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1),('isLoanAmountPaidByBorrower_isEnable'+i))" data-toggle="modal" data-target="#installment_deatils_modal"></i>&nbsp;
                                                        </div>
                                                        <div
                                                            *ngIf="!returnT4IfCurrentInstallmentAlreadyPaid(LoanApplyObj, utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1),('isLoanAmountPaidByBorrower_isEnable'+i))  && (LoanApplyObj.lenderId._id==authenticationService.currentUserValue._id || authenticationService.currentUserValue.role == Role.Admin)" i18n>
                                                            <i class="icon-close"></i>&nbsp;Not Paid
                                                        </div>
                                                        <div
                                                            *ngIf="returnT4IfCurrentInstallmentAlreadyPaid(LoanApplyObj, utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1),('isLoanAmountPaidByBorrower_isEnable'+i)) && !returnT4IfCurrentInstallmentAlreadyPaidConfirmByLender(LoanApplyObj, utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1),('isLoanAmountPaidByBorrower_isEnable'+i)) && LoanApplyObj.lenderId._id==authenticationService.currentUserValue._id">
                                                            <div class="form-check-inline">
                                                                <div class="custom-control custom-checkbox">
                                                                    <!--[disabled]="LoanApplyObjCurrentCheckBoxes.visibleKeys['isLoanAmountPaidByBorrower_isEnable'+i]"-->
                                                                    <input [disabled]="true"
                                                                        [(ngModel)]="LoanApplyObjCurrentCheckBoxes['isLoanAmountPaidByBorrowerConfirmByLender_'+i]"
                                                                        name="isLoanAmountPaidByBorrowerConfirmByLender"
                                                                        id="isLoanAmountPaidByBorrowerConfirmByLender_{{i}}"
                                                                        type="checkbox" class="custom-control-input"
                                                                        [value]="true"
                                                                        (change)="initiateLoanAmountPaidByBorrowerConfirmByLender($event, LoanApplyObj, utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1),('isLoanAmountPaidByBorrowerConfirmByLender_'+i))"
                                                                        [checked]="LoanApplyObjCurrentCheckBoxes['isLoanAmountPaidByBorrowerConfirmByLender_'+i]">
                                                                    <label
                                                                        for="isLoanAmountPaidByBorrowerConfirmByLender_{{i}}"
                                                                        class="custom-control-label" i18n>
                                                                        Is Amount Received? </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td
                                                        *ngIf="returnSessionApplyStatus(LoanApplyObj)==SessionStatus.Unpaid && authenticationService.currentUserValue.role == Role.Admin && LoanApplyObj.loanInsuranceRequired">
                                                        <!--&& LoanApplyObj.borrowerId._id==authenticationService.currentUserValue._id-->
                                                        <div
                                                            *ngIf="!returnT4IfCurrentInstallmentAlreadyPaid(LoanApplyObj, utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1),('isLoanAmountPaidByBorrower_isEnable'+i)) && (authenticationService.currentUserValue.role == Role.Admin)">
                                                            <div class="form-check-inline">
                                                                <div class="custom-control custom-checkbox">
                                                                    <!--[disabled]="LoanApplyObjCurrentCheckBoxes.visibleKeys['isLoanAmountPaidByBorrower_isEnable'+i]"-->
                                                                    <input [disabled]="true"
                                                                        [(ngModel)]="LoanApplyObjCurrentCheckBoxes['isLoanAmountPaidByBorrower_'+i]"
                                                                        name="isLoanAmountPaidByBorrower"
                                                                        id="isLoanAmountPaidByBorrower_{{i}}"
                                                                        type="checkbox" class="custom-control-input"
                                                                        [value]="true"
                                                                        (change)="initiateLoanAmountPaidByBorrower($event, LoanApplyObj, utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1),('isLoanAmountPaidByBorrower_'+i))"
                                                                        [checked]="LoanApplyObjCurrentCheckBoxes['isLoanAmountPaidByBorrower_'+i]">
                                                                    <label for="isLoanAmountPaidByBorrower_{{i}}"
                                                                        class="custom-control-label" i18n>
                                                                        Is Amount Transfered? </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row" [ngClass]="{ 'd-none': ready2Refund }"
                                [ngSwitch]="returnSessionApplyStatus(LoanApplyObj)">
                                <!-- the same view can be shown in more than one case -->
                                <div class="col-xl-12" *ngSwitchCase="SessionStatus.Pending">
                                    <!--
                                    <button class="btn btn-danger btn-sm float-left" (click)="closeDialog(LoanApplyObj, SessionStatus.Rejected)">Reject</button>
                                    <button class="btn btn-success btn-sm float-right" (click)="closeDialog(LoanApplyObj, SessionStatus.Accepted)">Accept</button>
                                    -->
                                    <button class="btn btn-primary btn-sm float-right mr-2"
                                        (click)="clickedOnSessionChatVideo(LoanObj, false)" i18n><i
                                            class="icon-comments"></i>&nbsp;Chat</button>
                                </div>
                                <div class="col-xl-12" *ngSwitchCase="SessionStatus.Accepted">
                                    <!--
                                    <button class="btn btn-danger btn-sm float-left" (click)="closeDialog(LoanApplyObj, SessionStatus.RejectedOngoing)">Reject</button> &nbsp;
                                    <button class="btn btn-info btn-sm" (click)="closeDialog(LoanApplyObj, SessionStatus.RejectedOngoingWithRefund)">Apply
                                        for Refund</button>
                                    <button class="btn btn-success btn-sm float-right" (click)="closeDialog(LoanApplyObj, SessionStatus.OngoingInitiated)">Proceed for
                                        Execution</button>
                                        -->
                                    <a class="btn btn-success btn-sm float-left ml-2" target="_blank"
                                        [href]="returnUrl4downloadCOntractPDF(LoanApplyObj._id)" download i18n><i
                                            class="icon-cloud-down"></i>&nbsp;Download Contract</a>
                                    <button class="btn btn-primary btn-sm float-right"
                                        (click)="clickedOnSessionChatVideo(LoanObj, false)" i18n><i
                                            class="icon-comments"></i>&nbsp;Chat</button>
                                </div>

                                <div class="col-xl-12" *ngSwitchCase="SessionStatus.OngoingInitiated">
                                    <!--
                                    <button class="btn btn-danger btn-sm float-left" (click)="closeDialog(LoanApplyObj, SessionStatus.RejectedOngoing)">Reject</button>
                                    <button [disabled]="true" class="btn btn-success btn-sm float-right" (click)="closeDialog(LoanApplyObj, SessionStatus.AwaitingForApproval)">Proceed for
                                        Execution</button>
                                    -->
                                </div>
                                <div class="col-xl-12" *ngSwitchCase="SessionStatus.AwaitingForApproval">
                                    <!--
                                    <button class="btn btn-danger btn-sm float-left" (click)="closeDialog(LoanApplyObj, SessionStatus.RejectedOngoing)">Reject</button>
                                    <button class="btn btn-success btn-sm float-right" (click)="closeDialog(LoanApplyObj, SessionStatus.Ongoing)">Proceed for
                                        Execution</button>
                                    -->
                                    <button *ngIf="LoanApplyObj.createdBy!=authenticationService.currentUserValue._id"
                                    (click)="closeDialog(LoanApplyObj, SessionStatus.Rejected)" class="float-right btn btn-danger btn-sm" i18n>Reject</button>
                                    <button *ngIf="LoanApplyObj.createdBy!=authenticationService.currentUserValue._id"
                                        class="btn btn-success btn-sm float-right"
                                        (click)="closeDialog(LoanApplyObj, SessionStatus.Accepted)" i18n>
                                        Proceed for Contract Sign
                                    </button>
                                    <button class="btn btn-primary btn-sm float-right mr-2"
                                        (click)="clickedOnSessionChatVideo(LoanObj, false)" i18n><i
                                            class="icon-comments"></i>&nbsp;Chat</button>
                                </div>
                                <div class="col-xl-12" *ngSwitchCase="SessionStatus.Ongoing">
                                    <!--
                                    <button class="btn btn-danger btn-sm float-left" (click)="closeDialog(LoanApplyObj, SessionStatus.Suspended)">Reject</button>
                                    <button class="btn btn-success btn-sm float-right" (click)="closeDialog(LoanApplyObj, SessionStatus.Completed)">Completed</button>
                                    -->
                                </div>
                                <div class="col-xl-12" *ngSwitchCase="SessionStatus.Completed">
                                    <button mat-button mat-dialog-close class="btn btn-success btn-sm float-right"
                                        (click)="addNewRatings(LoanApplyObj)" i18n>Rate Now</button>
                                </div>
                                <!--default case when there are no matches -->
                                <div class="col-xl-12" *ngSwitchDefault>
                                    <!-- 
                                    <button class="btn btn-danger btn-sm float-left" (click)="closeDialog(LoanApplyObj, SessionStatus.Rejected)">Reject</button>
                                    <button class="btn btn-success btn-sm float-right" (click)="closeDialog(LoanApplyObj, SessionStatus.Accepted)">Accept</button>
                                -->
                                </div>
                            </div>
                        </div>
                        <!--<button *ngIf="!check4SessionApplyStatus(LoanApplyObj)" class="btn btn-success btn-sm float-right" (click)="closeDialog(LoanApplyObj, SessionStatus.Accepted)">Accept</button>
                        <button *ngIf="check4SessionApplyStatus(LoanApplyObj)" class="btn btn-success btn-sm float-right mr-2" (click)="closeDialog(LoanApplyObj, SessionStatus.OngoingInitiated)">Proceed for Execution</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<!-- <mat-dialog-actions align="end">
    <button class="btn btn-primary btn-sm float-right" mat-button mat-dialog-close>
        <i class="icon-close"></i> CLOSE
    </button>
</mat-dialog-actions> -->




<!--
<div class="row" [ngClass]="{ 'd-none': !userInitiatedForPayment }">
    <div class="col-xl-12 text-center">
        <app-payment></app-payment>
    </div>
</div>
<div class="row" [ngClass]="{ 'd-none': !ready2Refund }">
    <div class="col-xl-12">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="form-group">
                        <label class="mb-3 font-weight-bold">
                            Paid Amount:&nbsp;
                        </label>
                        <label class="mb-3">
                            {{refundObj.amount}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="mb-3 font-weight-bold">
                            Refund Charges:&nbsp;
                        </label>
                        <label class="mb-3">
                            {{refundObj.cancellationCharges}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="mb-3 font-weight-bold">
                            Amount to be refunded:&nbsp;
                        </label>
                        <label class="mb-3">
                            {{refundObj.finalAmount2Refund}}
                        </label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-sm" (click)="ready2Refund=false">Cancel</button> &nbsp;
                        <button class="btn btn-success btn-sm" (click)="finalSubmissionForRefund()">Refund</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->