<h2 mat-dialog-title class="text-primary">
    {{utilityService.returnLoanType(LoanObj.loanType)}}
</h2>

<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-xl-4 col-12">
            <div class="form-group ">
                <label for="loanAmount" i18n>Loan Amount</label>
                <h4 class="text-primary">
                    {{LoanObj.loanAmount}}
                </h4>
            </div>
        </div>
        <div class="col-xl-4 col-12">
            <div class="form-group">
                <label for="loanTenureInMonths" i18n>Tenure in Months</label>
                <h4 class="text-primary">
                    {{LoanObj.loanTenureInMonths}}
                </h4>
            </div>
        </div>
        <div class="col-xl-4 col-12">
            <div class="form-group ">
                <label for="loanInterestRate" i18n>Interest(%) Rate (per month)</label>
                <h4 class="text-primary">
                    {{LoanObj.loanInterestRate}}
                </h4>
            </div>
        </div>
        <div class="col-xl-4 col-12">
            <div class="form-group ">
                <label for="loanStartDateTime" i18n>Start Date</label>
                <h4 class="text-primary" i18n>
                    {{LoanObj.loanStartDateTime | date:'dd-MMM-YYYY'}}
                </h4>
            </div>
        </div>
        <div class="col-xl-4 col-12">
            <div class="form-group">
                <div>
                    <label for="loanStartDateTime" i18n>Payment Method</label>
                </div>
                <span *ngIf="utilityService.returnLoanRepaymentType('bank',LoanObj)>-1" class="badge  mr-2 badge-success">
                    BANK
                </span>
                <span *ngIf="utilityService.returnLoanRepaymentType('cash',LoanObj)>-1" class="badge  mr-2 badge-success">
                    Cash
                </span>
                <span *ngIf="utilityService.returnLoanRepaymentType('revolut',LoanObj)>-1"
                    class="badge  mr-2 badge-success">
                    Revolut
                </span>
                <span *ngIf="utilityService.returnLoanRepaymentType('paypal',LoanObj)>-1" class="badge  mr-2 badge-success">
                    Paypal
                </span>
                <span *ngIf="utilityService.returnLoanRepaymentType('skrill',LoanObj)>-1" class="badge  badge-success">
                    Skrill
                </span>
            </div>
        </div>
        <div class="col-xl-12">
            <p class="mb-2" i18n>Description:</p>
            <div class="text-black-50" i18n>
                {{LoanObj.loanDescription}}
            </div>
        </div>
        <div class="col-xl-12 col-12 mt-3">
            <div class="table-responsive table shadow-sm">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col" i18n>EMI Date</th>
                            <th scope="col" i18n>Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let in of utilityService.counter(LoanObj.loanTenureInMonths) ;let i = index">
                            <td>{{utilityService.returnDateWithAddingMonths(LoanObj.loanStartDateTime,i+1)
                                | date:'dd-MMM-YYYY'}}</td>
                            <td>kr {{LoanObj.calculatedMonthlyAmountForEMI}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button class="btn btn-primary btn-sm float-right" mat-button mat-dialog-close>
        <i class="icon-close"></i> CLOSE
    </button>
</mat-dialog-actions>