
<!-- old112 Nav Start [ngClass]="{'dark position-relative' : (router.url!='/')}"-->
<header class="loding-header custom-scroll nav-abs saas2" [ngClass]="{'position-relative bg-gradient-color' : (router.url!='/')}">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav>
                    <a class="logo-light m-r-auto" routerLink="/home">
                        <img class="img-fluid" src="/assets/img/avitii-logo.png"></a>
                    <div class="responsive-btn">
                        <a class="toggle-nav" ><i aria-hidden="true" class="icon-align-center text-white"></i></a>
                    </div>
                    <div class="navbar m-l-auto btn-back" id="togglebtn">
                        <div class="responsive-btn">
                            <h5 class="btn-back">back</h5>
                        </div>
                        <ul class="main-menu">
                            <!-- <li><a routerLink="/vcmeet" routerLinkActive="active">vcmeet</a></li> -->
                            <li><a routerLink="/home" i18n>Home</a></li>
                            
                            <li><a routerLink="/our-history" routerLinkActive="active">Our History</a></li>
                            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                            <div class="d-inline" *ngIf="!currentUser">
                                <li *ngIf="router.url!='/login'"><a routerLink="/../login" routerLinkActive="active">Login</a></li>
                                <li *ngIf="router.url!='/register'"><a routerLink="/../register" routerLinkActive="active">Register</a></li>
    
                            </div>
                           
                            <li class="mega-menu" *ngIf="currentUser">
                                <a class="dropdown" href="#">Account <i class="fas fa-angle-down"></i></a>
                                <div class="mega-menu-container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="menu-container">
                                                    <div class="text-center">

                                                        <a class="menu-head d-block" data-target=".demo2"
                                                            data-toggle="collapse" href="#"><img
                                                            src="/assets/img/user-default.png" class="rounded">
                                                            {{currentUser.firstName}}</a>

                                                    </div>

                                                    <ul>
                                                        <li>

                                                            <a href="header-light.html">Wallet
                                                                <span
                                                                    class="badge badge-primary float-right">$300</span>
                                                            </a>

                                                        </li>
                                                        <li><a href="header-light.html">Profile</a></li>
                                                        <li><a (click)="logout()">Logout</a></li>

                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Nav end-->