

<div class="d-flex h-100">
    <div class="justify-content-center align-self-center">
        <div class="text-center py-3">
            <img class="mb-4" src="/assets/img/avitii-logo-purple.png">
        </div>
        
        <img class="img-fluid" src="/assets/img/mobile-home.png">
        <div class="text-center mt-5">
            <a class="btn btn-default btn-gradient col-5 mr-3 py-3" routerLink="/../login" routerLinkActive="active">LOGIN</a>
        
            <a class="btn btn-default btn-gradient col-5 py-3" routerLink="/../register" routerLinkActive="active">REGISTER</a>
        </div>
        <div class="text-center small mt-5">
            Powered By <a href="https://piralo.com">Piralo Live Engine</a>
        </div>
    </div>

    
</div>