<div class="row">
    <div class="col-xl-12 col-12">
        <div class="row mb-3">
            <div class="col-xl-12 col-12">
                <form class="bg-pink border p-4 shadow-sm">
                    <div class="form-row">
                        <div class="col-xl-10">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="modalFindBorrower" placeholder="Find Borrowers" [(ngModel)]="modalFindBorrower">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" data-toggle="collapse" data-target="#filter-menus"><i class="icon-filter"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row collapse" id="filter-menus">
                                <div class="col-xl-6 mt-2">
                                    <select formControlName="services4search" class="custom-select" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                                    <option value="" selected>Service Type</option>
                                    <option *ngFor="let item of utilityService.ServicesTypes" [ngValue]="item.value">
                                        {{item.name}}</option>
                                </select>
                                </div>
                                <div class="col-xl-6 mt-2">
                                    <select formControlName="location4search" class="custom-select" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
                                    <option value="" selected>Choose Location</option>
                                    <option *ngFor="let location of utilityService.Locations" [ngValue]="location">
                                        {{location}}</option>
                                </select>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-xl-2">
                            <button class="btn btn-outline-primary btn-block h-100" (click)="findBorrower(modalFindBorrower)">
                                <i class="icon-search"></i> SEARCH
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-12">
        <section class="agency blog blog-sec p-0">
            <div class="h6 mb-3">
                Borrowers
                <!-- <span class="float-right custom-switch floar-right">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">USA</label>
                </span> -->
            </div>
            <div class="row">
                <div class="col-xl-4 col-12" *ngFor="let item of currentOnlineUserList;">


                    <div class="card shadow-sm mb-4">
                        <div class="bg-white blog-title card-header mb-0 text-capitalize">
                            {{item.firstName}}

                            <div class="center-text float-right">

                             
                                <span *ngIf="item.online" class="badge badge-success">Online</span>
                                <span *ngIf="!item.online" class="badge badge-danger">Offline</span>
                            </div>
                        </div>
                        <div class="card-body px-md-3 px-1 small">
                             <div class="row">  
                            <div class="col-xl-3">
                                <img class="img-fluid img-thumbnail" src="{{item.selfProfileUrl || '/assets/img/nouser.png'}}">
                            
                            </div> 
                                
                            <div class="col-xl-8 col-12">
                             

                                <div class="row">
                                    <!-- <div class="col-xl-6 col-6 border-right mb-2">
                                        <i aria-hidden="true" class="icon-timer mr-2"></i> 
                                     {{session.loanStartDateTime | date:'MMM d, h:mm a'}} 
                                    </div> -->
                                    <!-- <div class="col-xl-12 col-12">
                                        <p class="para2">
                                            {{item.myProfileDetails}}
                                        </p>
                                    </div>  -->
                                    <div class="col-xl-6 col-6">
                                        <i aria-hidden="true" class="icon-location-pin m-r-10"></i>
                                        
                                        {{item.country || 'NA'}}
                                    </div>
                                    <div class="col-xl-6 col-6">
                                        <i aria-hidden="true" class="icon-bag m-r-10"></i>
                                        
                                        {{item.education || 'NA'}}
                                    </div>
                                </div>
                            </div>          
                          
                          
                        </div>
                        </div>
                        <div class="card-footer bg-white">
                            <!-- <span class="badge badge-success font-weight-normal text-capitalize btn float-left" >{{session.sessionType}}</span> -->
                            <div class="row">
                                <div class="col-xl-12">
                                    <button class="btn btn-link text-capitalize text-success btn-sm" (click)="usersProfile(item)">
                                         Profile</button>
                                    <button *ngIf="item.role=='borrower' && currentUser.role=='lender'" class="btn btn-link btn-sm text-capitalize float-right" (click)="createNewSessionWithBorrower(item._id)">
                                        Request Consultation</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
             
            </div>
        </section>
    </div>
</div>