<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion navbar_side_panel" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <img class="img-fluid" src="./assets/img/avitii-logo.png">
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- <div class="d-inline text-white text-center mt-2">
        <a class="mr-1 small text-white" href="/en">English</a> |
        <a href="/da" class="ml-1 small text-white">Dansk</a>
    </div> -->
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link">
            {{currentUser.firstName}} 
            <span class="badge badge-success float-right font-weight-lighter text-capitalize" [textContent]="currentUser.role" i18n> Borrower</span>
         </a>
    </li>
    

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Interface
    </div> -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/borrower">
            <i class="icon icon-home"></i>
            <span i18n>Dashboard</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/borrower/loan-market" routerLinkActive="active">
            <i class="icon icon-shopping-cart"></i>
            <span i18n>Loan Market</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link"
        (click)="showAlert()"
       
        routerLinkActive="active">
            <i class="icon icon-money"></i>
            <span i18n>Get a Loan</span></a>
    </li>
     <!-- routerLink="/borrower/make-a-loan"  -->
     
    <!-- Nav Item - Pages Collapse Menu -->
    <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="icon icon-bag"></i>
            <span>My Contracts</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
            
                <a class="collapse-item" (click)="navigate2State('/borrower/my-contract')" routerLinkActive="active">My Offers</a>
                <a class="collapse-item" (click)="navigate2State('/borrower/my-contract')" routerLinkActive="active">Paid Contracts</a>
                <a class="collapse-item" (click)="navigate2State('/borrower/my-contract')" routerLinkActive="active">Unpaid Contracts</a>
                <a class="collapse-item" (click)="navigate2State('/borrower/my-contract')" routerLinkActive="active">Inkasso cases</a>
           
            </div>
        </div>
    </li> -->

    <li class="nav-item">
        <a class="nav-link" routerLink="/borrower/my-contract" routerLinkActive="active">
            <i class="icon icon-bag"></i>
            <span i18n>My Contracts</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link"  routerLink="/borrower/messages" routerLinkActive="active">
            <i class="icon icon-comments"></i>
            <span i18n>Messages</span>
            <span *ngIf="messagesService.returnTotalPendingMessagesForUser()>0" class="badge badge-light float-right font-weight-lighter text-capitalize" i18n> {{messagesService.returnTotalPendingMessagesForUser()}}</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link"  routerLink="/borrower/calendar" routerLinkActive="active">
            <i class="icon icon-calendar"></i>
            <span i18n>Calendar</span></a>
    </li>

    <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/borrower/ratings" routerLinkActive="active">
            <i class="icon icon-star"></i>
            <span>My Ratings</span></a>
    </li> -->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Addons
    </div> -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" aria-expanded="true" aria-controls="collapsePages">
            <i class="icon icon-settings"></i>
            <span i18n>Settings</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
            
                <a class="collapse-item" routerLink="/borrower/profile" routerLinkActive="active" i18n>My Profile</a>
                <a class="collapse-item" routerLink="/borrower/update-password" routerLinkActive="active" i18n>Change Password</a>
                <a class="collapse-item" routerLink="/borrower/bank-details" routerLinkActive="active" i18n>Bank Details</a>
                <a class="collapse-item" routerLink="/borrower/income-proof" routerLinkActive="active" i18n>Income Proof</a>
                <a class="collapse-item" routerLink="/borrower/my-subscriptions" routerLinkActive="active" i18n>My Subscriptions</a>
               
            </div>
        </div>
    </li>

 
    <li class="nav-item">
        <a class="nav-link" routerLink="/logout">
            <i class="icon icon-flickr-alt"></i>
            <span i18n>Logout</span></a>
    </li>

    <!-- Divider -->
    <!-- <hr class="sidebar-divider d-none d-md-block">


    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->


</ul>


