<section class="resume schedule  pt-3 pb-4">
    <div class="container">
       
        <div class="row">
            <div class="col-12">
                <div class="cal-time">
                    <div class="time">
                        <h2 class="title-text pt-1">About Us</h2>
                    </div>
                </div>
                  
            </div>
        </div>
    </div>
</section>
<div class="container">
       
    <div class="row">
        <div class="col-lg-7">
           
            <p class="subscribe-sub-head mb-3">Avittii is much more than a P2P marketplace. Apart from providing end to end loan servicing, i2i diligently evaluates the credit risk of each of the loan projects, a post which it assigns risk category and recommends an interest rate for that project (a borrower can borrow at an interest rate which is higher than or equal to this rate). This helps the borrowers as well as the investors to have a benchmark interest rate. In the process, the investors get an opportunity to earn higher 'risk-adjusted returns' while the borrowers get an opportunity to get funded at the lowest cost possible as per their risk profile and market-based demand. We also provide legal and recovery support to investors in case of default by any borrower.</p>
            
            <p class="subscribe-sub-head mb-3">Avittii is all set to change the way in which financial transactions are being currently carried out. Traditional financial systems due to their high operating costs such as high office rentals, high employee costs etc. are unable to diligently assess each of the customers as per their risk profiles. Therefore, they consider the retail loans (i.e. loans offered to individual persons) as 'flow' business which results in customers with varying credit quality getting bucketed together.</p>
          
            
        
                       
            <h5 class="mb-4">“Connecting Investors and Borrowers’’</h5>
            <!-- <p class="subscribe-sub-head font-primary">
                Consultancy is a necessity not a Luxury. 
            </p> -->

        </div>
        <div class="col-lg-5">
            <iframe class="w-100 shadow h-75 border-0" src="https://www.youtube.com/embed/oCS05QSQ-1k">
            </iframe>
            <!-- <video class="w-100 shadow h-75" poster="/assets/img/confuse.gif" controls>
                <source src="https://www.youtube.com/watch?v=s-Fs_Ucy_EU" type="video/mp4">
              Your browser does not support the video tag.
              </video> -->
        </div>
    </div>
</div>
<section class="resume subscribe bg-pink" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title title2">
                    <h3 class="subscribe-head">Want to earn great returns? </h3>
                    <p class="subscribe-sub-head font-primary">You have come to the right place. Avittii Lender System provides you with the best possible investment opportunity.</p>
                        
                </div>
            </div>
            <div class="col-xl-4 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="subscribe">
                    <div class="text-center">
                        <div class="button-primary">
                            <button class=" btn btn-default text-white primary-btn" routerLink="/../register" routerLinkActive="active">Join Us Today
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>