<section class="resume schedule pt-3">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="cal-time">
                    <div class="time">
                        <h2 class="title-text pt-1">Our History</h2>
                    </div>
                </div>
                <div class="event-container scrollbar">
                    <div>
                        <div class="cal-time events">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="schedule-event">
                                        <h4 class="names">One</h4>
                                        
                                        <p class="mb-3 text-muted">
                                            As a private lender on p2p lending, it can be difficult to find some programs that can help one keep track of things. Avitii Lending has developed a platform where private lenders can invite their lenders into a system where they can gather it all in one place. Our vision is to further develop it into Crypto-Lending Platform over time.



                                        </p>
                                        
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="timing">
                                        <h5 class="event-time">2016</h5>
                                        <div class="border-container">
                                            <div class="border-dashed"></div>
                                        </div>
                                        <h5 class="event-time">Mid 2016</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" cal-time events">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="schedule-event">
                                        <h4 class="names">Two</h4>
                                        <!-- <img alt="" class="img-fluid schedule-img"
                                            src="../assets/images/resume/icon/icon-resume.png"> -->
                                        <p class="text-muted mb-3"> As a private lender on p2p lending, it can be difficult to find some programs that can help one keep track of things. Avitii Lending has developed a platform where private lenders can invite their lenders into a system where they can gather it all in one place. Our vision is to further develop it into Crypto-Lending Platform over time.


                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="timing">
                                        <h5 class="active event-time center-content">2018</h5>
                                        <div class="border-container">
                                            <div class="border-dashed active"></div>
                                        </div>
                                        <h5 class="active event-time center-content">2019</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" cal-time events">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="schedule-event">
                                        <h4 class="names">Three</h4>
                                        <img alt="" class="img-fluid schedule-img"
                                            src="../assets/images/resume/icon/icon-resume.png">
                                        <p class="text-muted mb-2"> As a private lender on p2p lending, it can be difficult to find some programs that can help one keep track of things. Avitii Lending has developed a platform where private lenders can invite their lenders into a system where they can gather it all in one place. Our vision is to further develop it into Crypto-Lending Platform over time.

                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="timing">
                                        <h5 class="event-time center-content">2019 Mid</h5>
                                        <div class="border-container">
                                            <div class="border-dashed"></div>
                                        </div>
                                        <h5 class="event-time center-content">2020</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" cal-time events">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="schedule-event">
                                        <h4 class="names">Four</h4>
                                        <img alt="" class="img-fluid schedule-img"
                                            src="../assets/images/resume/icon/icon-resume.png">
                                        <p class="text-muted mb-2">As a private lender on p2p lending, it can be difficult to find some programs that can help one keep track of things. Avitii Lending has developed a platform where private lenders can invite their lenders into a system where they can gather it all in one place. Our vision is to further develop it into Crypto-Lending Platform over time.

                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="timing">
                                        <h5 class="event-time center-content">2021</h5>
                                        <div class="border-container">
                                            <div class="border-dashed"></div>
                                        </div>
                                        <h5 class="event-time center-content">Earn More</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>